.para_body_style {
/*background-color: lightyellow;*/
}

.para_head_style {
/*
font-weight: bold;
background-color: LightSlateGray;
*/
}

.char_body_style {
/*background-color: Yellow;
text-decoration: line-through;*/
}

.char_head_style {
/*background-color: Gray;
text-decoration: line-through;*/
}

