body {
	margin: 20px 40px;

	padding: 0;
}

body, input, option, select {
	font-size: 18px;
	font-family: serif;
}


* > label {
	cursor: pointer;
}


h1 {
	float: left;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	color: #333;
	line-height: 36px;
}


p {
	line-height: 24px;
	
}

#configuration {
	width: 400px;
	float: right;
	margin: 20px 40px;
}

#configuration, #configuration input, #configuration select { 
	
}

#configuration form {
	margin: 20px;
}



#credits {
	clear: both;
}

#paragraphs, #length {
	width: 3em;
}

.button {
	clear: both;
	padding-top: 20px;
}

#submit {
	font-size: 24px;
	width: 170px;
}


.html p {
	font-family: monospace;
	font-size: 14px;
}

hr {
	clear: both;
	color: white;
	border: none;
	line-height: 1px;
	margin-top: -1px;
	height: 1px;
}

table {
	width: 100%;
}

#permalink {
	float: right;
	margin: 20px 40px;
	line-height: 36px;
}