<?xml version="1.0" standalone="yes" ?>
<!-- Enterprise Server - Millions of Objects configuration file -->
<MillionsofObjectsConfig>
	<Title>Millions of Objects</Title>
	<Steps>
		<Step name="CreateIssues" display="Create Issues" count="52" stepsize="10">
			<Info>This step creates %count% issues under brand "%UseBrand%" with random names.</Info>
		</Step>
		<Step name="CreateEditions" display="Create Edition" count="1" stepsize="10">
			<Info>This step creates %count% Edition under brand "%UseBrand%" with random names.</Info>
		</Step>
		<Step name="CreateCategories" display="Create Categories" count="1" stepsize="1">
			<Info>This step creates %count% categories under brand "%UseBrand%" with random names.</Info>
		</Step>
		<Step name="CreateDossiers" display="Create Dossiers" count="10000" stepsize="50">
			<ObjectConfig assignToIssue="all" assignToEdition="all" withNumberOfPublishForms="0"/>
			<Info>This step creates %count% dossier objects under brand "%UseBrand%" with random names.</Info>
		</Step>
		<Step name="CreateArticles" display="Create Articles" count="10000" stepsize="50">
			<ObjectConfig assignToIssue="none" assignToEdition="none" containInDossier="all"/>
			<Info>This step creates %count% article objects under brand "%UseBrand%" with random names.</Info>
		</Step>
        <Step name="CreateDossiersWithPublishForms" display="Create PublishForms" count="2" stepsize="10" >
            <ObjectConfig assignToIssue="all" assignToEdition="all" imagesPerForm="2" articlesPerForm="2" from="2012-01-01" to="2013-12-12" />
            <Info>This step creates %count% dossier objects with PublishForms and placed objects under brand "%UseBrand%" with random names.</Info>
        </Step>
	</Steps>
</MillionsofObjectsConfig>