# File containing MacOSX custom attributes (per folder)
.DS_Store

# Custom license files
Enterprise/Enterprise/config/WWActivate.xml
Enterprise/Enterprise/config/encryptkeys/rabbitmq/cacert.pem

# Custom server plugins (except the instructions file)
Enterprise/Enterprise/config/plugins
!Enterprise/Enterprise/config/plugins/readme.txt

# TMS last modified timestamps (only used by autobuild.sh)
Enterprise/Enterprise/config/resources/_lastupdate.txt
Enterprise/plugins/release/AdobeDps2/resources/_lastupdate.txt

# Enterprise Server product version (project-wide multiple files)
_productversion.txt
Enterprise/Enterprise/server/_productversionextra.txt

# phpStorm project settings (except shared coding standards)
Enterprise/.idea/**
!Enterprise/.idea/codeStyleSettings.xml
!Enterprise/.idea/inspectionProfiles/EnterpriseCodeInspection.xml
*.iml
