.DS_Store
Enterprise/Enterprise/config/config_local.php
Enterprise/Enterprise/config/WWActivate.xml
Enterprise/Enterprise/config/encryptkeys/rabbitmq/cacert.pem

Enterprise/Enterprise/config/plugins

Enterprise/.idea/*
!Enterprise/.idea/codeStyleSettings.xml
!Enterprise/.idea/inspectionProfiles/EnterpriseCodeInspection.xml