<script language="javascript">
function myconfirm(code)
{
	switch(code) {
		case 'delaction':
			txt = "<!--RES:ACT_SURE_DELETE_ACTION_PROPERTY_QMK-->";
			break;
        case 'deleteAllSelected':
            if( isThereAnyCheckboxesChecked() ) {
                txt = "Are you sure you want to delete the selected properties?"; // TODO: Localise the string
            } else {
                return alert( "There is no checkbox selected." ); // TODO: Localise the string
            }
            break;
        case 'reset':
            txt = "Are you sure you want to delete all properties?"; // TODO: Localise the string
            break;
    }
	return confirm(txt);
}
function isThereAnyCheckboxesChecked()
{
    var countCheckBoxes = document.forms['propfilter'].recs.value;
    for(var i = 0; i < countCheckBoxes; i++) {
        var objCheckBox = document.forms['propfilter'].elements['multiDelete'+i];
        if( objCheckBox.checked ) {
            return true;
        }
    }
    return false;
}

function checkDeleteCheckboxes()
{
    var countCheckBoxes = document.forms['propfilter'].recs.value;
    for(var i = 0; i < countCheckBoxes; i++) {
        var objCheckBox = document.forms['propfilter'].elements['multiDelete'+i];
        objCheckBox.checked = !(objCheckBox.checked)
    }
    return false;
}
$(document).ready(function() {
    $(function dialogBox() {
        $("#dialog_confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            zIndex: 1000,
            buttons: {
                "Yes": function( ) {
                    $("#add").val( "add" );
                    $("#addDefaultDynamic").val( "true" );
                    $( this ).dialog( "close" );
                    $("form[name=propfilter]").submit(); // document.forms.propfilter.submit();
                },
                "No": function() {
                    $("#add").val( "add" );
                    $("#addDefaultDynamic").val( "false" );
                    $( this ).dialog( "close" );
                    $("form[name=propfilter]").submit(); // document.forms.propfilter.submit();
                }
            },
        }).parent().appendTo($("#propfilter"));
    });

    $("#dialog_button").click( function( event ){
        event.preventDefault();
        if( $("input[name=recs]").val() == 0 ){
            $("#dialog_confirm").dialog( "open" );
        } else { // There're already records on the page
            $("#add").val( "add" );
            document.forms.propfilter.submit();
        }
    });
});
function SetCombos(sAction)
{
	var f = document.forms.propfilter;
	f.action.value = sAction;
	f.submit();
}
</script>

<table class="appframe"><tr class="text"><td>
	
	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/dialogs.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:QRY_SETUP--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form name="propfilter" action="actionpropertiesquery.php" method="post">
	<table class="listframe" width="100%"><tr><td>
		<table class="listpane">
			<tr>
				<th width="100"><!--RES:ACT_ACTION--></th>
			</tr>
			<tr>
				<td valign="top"><!--COMBO:ACTION--></td>
			</tr>
		</table>
		<br/>
		<table class="listpane">
			<tr>
				<th><!--RES:PVW_CUSTOM--></th>
			</tr>
			<tr>
				<td valign="top"><!--PUB_TYPE_ACTION_LIST--></td>
			</tr>
		</table>
		<br/>
		<table class="listpane">
			<tr>
				<th style="<!--DELETE_COLUMN-->">
					<input type="checkbox" title="Multi Delete Toggle" name="multiDeleteToggle" onClick="javascript:checkDeleteCheckboxes(); " />
				</th>
				<th><!--RES:LIS_ORDER--></th>
				<th><!--RES:OBJ_PROPERTY--></th>
			</tr>
			<!--ROWS-->
		</table>
		<br/>
		<table class="listbtnbar">
			<tr>
				<td>
					<input style="<!--ADD_BUTTON-->" type="submit" id="dialog_button" name="addButton" value="<!--RES:ACT_ADD-->" />
					<input style="<!--ADD_BUTTON-->" type="hidden" id="add" name="add" value="">
					<input style="<!--ADD_BUTTON-->" type="hidden" id="addDefaultDynamic" name="addDefaultDynamic" value="false">
					<div   style="display:none" id="dialog_confirm" title="Add Default fields?">
						<p>
							<span style="float: left; margin: 0 0px 0px 0;"></span>
							Some ompulsory fields will be added.
							However, there are also some regular used fields, do you want to add them?
							(You will still be able to remove these regular used fields later.)
						</p>
					</div>
					<input style="<!--UPDATE_BUTTON-->" type="submit" name="update" value="<!--RES:BUT_UPDATE-->"/>
					<input style="<!--DELETE_BUTTON-->" type="submit" name="delete" value="<!--RES:ACT_DELETE_SELECTED-->" onClick='return myconfirm( "deleteAllSelected" )'/>
					<input style="<!--RESET_BUTTON-->"  type="submit" name="reset" value="<!--RES:BUT_RESET-->" onClick='return myconfirm( "reset" )'/>
				</td>
			</tr>
		</table>
	</td></tr></table>
	</form>

</td></tr></table>
