<!--
     Do visit actionproperties.htm and actionpropertiesquery.htm when there are fixes done in the javascript areas.
-->
<script language="javascript">
function myconfirm(code)
{
	switch(code) {
		case 'deleteAllSelected':
		    if( isThereAnyCheckboxesChecked() ) {
				txt = "<!--RES:DELETE_SELECTED_CONFIRM_MESSAGE-->";
			} else {
                return alert( "<!--RES:SELECT_ROWS_CONFIRM_MESSAGE-->" );
			}
		    break;
		case 'reset':
		    txt = "<!--RES:RESET_CONFIRM_MESSAGE-->";
		    break;
	}
	return confirm(txt);
}

function isThereAnyCheckboxesChecked()
{
    var countCheckBoxes = document.forms['propfilter'].recs.value;
    for(var i = 0; i < countCheckBoxes; i++) {
        var objCheckBox = document.forms['propfilter'].elements['multiDelete'+i];
        if( objCheckBox !== undefined && objCheckBox.checked ) {
			return true;
        }

    }
    return false;
}

function checkDeleteCheckboxes()
{
    var selectAllCheckbox = document.getElementById("multiDeleteToggle");
    var countCheckBoxes = document.forms['propfilter'].recs.value;
    for(var i = 0; i < countCheckBoxes; i++) {
        var objCheckBox = document.forms['propfilter'].elements['multiDelete'+i];
        if( objCheckBox !== undefined && objCheckBox.disabled == false ) {
            if( selectAllCheckbox.checked == true ) {
                objCheckBox.checked = true;
            } else {
                objCheckBox.checked = false;
			}
		}
	}
    return false;
}

function SetCombos(sPubl, sObjType, sAction)
{
    // Point to the form having Publication and ObjectType combos...
    var f = document.forms.propfilter;

    // Debug info...
    //alert( f.publ.options[f.publ.selectedIndex] );
    //alert( f.objtype.options[f.objtype.selectedIndex].text );
    //alert( f.action.options[f.action.selectedIndex].text );

    // Select requested values in Publication and ObjectType combos...
    f.publ.selectedIndex = 0;
    for(i=0; i<f.publ.options.length; i++){
        if(f.publ.options[i].value == sPubl){
            f.publ.selectedIndex = i;
            break;
        }
    }
    f.objtype.value = sObjType;
    f.action.value = sAction;

    // Reflect combo changes in properties.php...
    f.submit();
}

$(document).ready(function() {
    // Drawing the dialog box.
    $(function dialogBox() {
        $("#dialog_confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            zIndex: 1000,
            buttons: {
                "<!--RES:FEATURE_YES-->": function() {
                    $("#addProperties").val( "add" );
                    $("#addDefaultDynamic").val( "true" );
                    $( this ).dialog( "close" );
                    $( "#propfilter" ).submit();
                },
                "<!--RES:FEATURE_NO-->": function() {
                    $("#addProperties").val( "add" );
                    $("#addDefaultDynamic").val( "false" );
                    $( this ).dialog( "close" );
                    $( "#propfilter" ).submit();
                }
            },
        }).parent().appendTo($("#propfilter"));
    });

    // Event when dialog_button is clicked.
    $("#dialog_button").click( function( event ){
        event.preventDefault();
        if( $("input[name=recs]").val() == 0 ){
            $("#dialog_confirm").dialog( "open" );
        } else { // There're already records on the page
            $("#addProperties").val( "add" );
            $( "#propfilter" ).submit();
        }
    });

    $( "#updateButton" ).click( function() {
        $( '#updateProperties' ).val( "update" );
        $( "#propfilter" ).submit();
    });

    $( "#resetButton" ).click( function() {
        if( myconfirm( 'reset' ) ) {
            $( '#resetProperties' ).val( "reset" );
            $( "#propfilter" ).submit();
        }
    });

    $( "#deleteButton" ).click( function() {
        if( myconfirm( 'deleteAllSelected' ) ) {
            $( '#deleteProperties' ).val( "delete" );
            $( "#propfilter" ).submit();
        }
    });

    // Input box 'Order' during update
    $( "#order" ).keypress( function( event ) {
        if( event.key == "Enter" ) {
            $( '#updateProperties' ).val( "update" );
            $( "#propfilter" ).submit();
		}
	});

    // Event for tooltips.
    $( function() {
        $( document ).tooltip();
    } );

    // Starting point: The Brand combo box
    $( function() {
        $("select[name=publ]").focus();
    });
});

</script>

<style>
	.tooltip-wrapper {
		display: inline-block; /* display: block works as well */
		margin: 1px; /* make some space so the tooltip is visible */
	}

	/* Only applicable for disabled elements */
	.tooltip-wrapper input[disabled] {
		/* don't let button block mouse events from reaching wrapper */
		pointer-events: none;
	}

	/* Overwrite the jquery-ui tooltip (popup) style to be similar to Enterprise */
	.ui-tooltip {
		background-color: #777;
		color: white;
		font-size: 8pt;
	}
</style>

<table class="appframe"><tr class="text"><td>
	
	<!-- app header -->
	<table class="apptitlebar">
		<tr class="text">
			<td><img class="apptitleicon" src="../../config/images/dialogs.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:HEA_DIALOG--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form id="propfilter" action="actionproperties.php" method="post" >
	<table class="listframe" width="100%"><tr><td>
		<table class="listpane">
			<tr>
				<th width="100"><!--RES:PUBLICATION--></th>
				<th width="100"><!--RES:OBJ_TYPE--></th>
				<th width="100"><!--RES:ACT_ACTION--></th>
			</tr>
			<tr>
				<td valign="top"><!--COMBO:PUBL--></td>
				<td valign="top"><!--COMBO:TYPE--></td>
				<td valign="top"><!--COMBO:ACTION--></td>
			</tr>
		</table>
		<br/>
		<table class="listpane">
			<tr>
				<th><!--RES:PVW_CUSTOM--></th>
			</tr>
			<tr>
				<td valign="top"><!--PUB_TYPE_ACTION_LIST--></td>
			</tr>
		</table>
		<table class="listpane">
			<tr style="<!--WORKFLOW_COLUMNS-->">
				<th style="<!--DELETE_COLUMN-->">
					<div class="tooltip-wrapper">
						<input type="checkbox" name="multiDeleteToggle" id="multiDeleteToggle" onClick="javascript:checkDeleteCheckboxes();">
					</div>
				</th>
				<th><!--RES:OBJ_CATEGORY--></th>
				<th><!--RES:LIS_ORDER--></th>
				<th><!--RES:OBJ_PROPERTY--></th>
				<th><!--RES:OBJ_EDITABLE--></th>
				<th><!--RES:OBJ_MANDATORY--></th>
				<th><!--RES:OBJ_RESTRICTED--></th>
				<!-- <th><!--RES:OBJ_REFRESH--><!-- </th> -->
				<th style="<!--MULTIPLE_OBJECTS_CELL-->"><!--RES:OBJ_MULTIPLE_OBJECTS--></th>
			</tr>
			<tr style="<!--PREVIEW_COLUMNS-->">
				<th style="<!--DELETE_COLUMN-->" width="10px">
					<div class="tooltip-wrapper">
						<input type="checkbox" name="multiDeleteToggle" id="multiDeleteToggle" onClick="javascript:checkDeleteCheckboxes();">
					</div>
				</th>
				<th><!--RES:LIS_ORDER--></th>
				<th><!--RES:OBJ_PROPERTY--></th>
			</tr>
		<!--ROWS-->
		</table>
		<br/>
		<table class="listbtnbar">
			<tr>
				<td>
					<button style="<!--RESET_BUTTON-->"  type="button" id="resetButton" ><!--RES:BUT_RESET--></button>
					<input type="hidden" id="resetProperties" name="resetProperties" value="" />

					<button style="<!--DELETE_BUTTON-->" type="button" id="deleteButton" ><!--RES:ACT_REMOVE--></button>
					<input type="hidden" id="deleteProperties" name="deleteProperties" value="" />

					<button style="<!--UPDATE_BUTTON-->" type="button" id="updateButton"><!--RES:BUT_UPDATE--></button>
					<input type="hidden" id="updateProperties" name="updateProperties" value="" />

					<button style="<!--ADD_BUTTON-->" type="button" id="dialog_button"><!--RES:ACT_ADD--></button>
					<input style="<!--ADD_BUTTON-->" type="hidden" id="addProperties" name="addProperties" value="" />
					<input style="<!--ADD_BUTTON-->" type="hidden" id="addDefaultDynamic" name="addDefaultDynamic" value="false" />
					<div style="display:none" id="dialog_confirm" title="<!--RES:HEA_DIALOG-->">
						<p>
							<span style="float: left; margin: 0 0px 0px 0;"></span>
							<!--DIALOG_CONFIRM_MESSAGE-->
						</p>
					</div>
				</td>
			</tr>
		</table>
	</form>
	</td></tr></table>
	<!--IMG_LOCKIMG--> <!--RES:OBJ_NOT_EDITABLE-->

</td></tr></table>