<!--
     Do visit actionproperties.htm and actionpropertiesquery.htm when there are fixes done in the javascript areas.
-->
<script language="javascript">
function myconfirm(code)
{
	switch(code) {
		case 'deleteAllSelected':
		    if( isThereAnyCheckboxesChecked() ) {
				txt = "Are you sure you want to delete the selected properties?"; // 10.x.x TODO: Localise the string
			} else {
                return alert( "There is no row selected for deletion." ); // 10.x.x TODO: Localise the string
			}
		    break;
		case 'reset':
		    txt = "Are you sure you want to reset? (This will delete all properties including the mandatory properties)."; // 10.x.x TODO: Localise the string
		    break;
	}
	return confirm(txt);
}

function isThereAnyCheckboxesChecked()
{
    var countCheckBoxes = document.forms['propfilter'].recs.value;
    for(var i = 0; i < countCheckBoxes; i++) {
        var objCheckBox = document.forms['propfilter'].elements['multiDelete'+i];
        if( objCheckBox !== undefined ) {
            if (objCheckBox.checked) {
                return true;
            }
        }
    }
    return false;
}

function checkDeleteCheckboxes()
{
    var countCheckBoxes = document.forms['propfilter'].recs.value;
    for(var i = 0; i < countCheckBoxes; i++) {
        var objCheckBox = document.forms['propfilter'].elements['multiDelete'+i];
        if( objCheckBox !== undefined ) {
            if( objCheckBox.disabled == false ) {
                objCheckBox.checked = !(objCheckBox.checked)
            }
		}
	}
    return false;
}

$(document).ready(function() {
    // Drawing the dialog box.
    $(function dialogBox() {
        $("#dialog_confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            zIndex: 1000,
            buttons: {
                "Yes": function( ) {
                    $("#add").val( "add" );
                    $("#addDefaultDynamic").val( "true" );
                    $( this ).dialog( "close" );
                    $("form[name=propfilter]").submit(); // document.forms.propfilter.submit();
                },
                "No": function() {
                    $("#add").val( "add" );
                    $("#addDefaultDynamic").val( "false" );
                    $( this ).dialog( "close" );
                    $("form[name=propfilter]").submit(); // document.forms.propfilter.submit();
                }
            },
        }).parent().appendTo($("#propfilter"));
    });

    // Event when dialog_button is clicked.
    $("#dialog_button").click( function( event ){
        event.preventDefault();
        if( $("input[name=recs]").val() == 0 ){
            $("#dialog_confirm").dialog( "open" );
        } else { // There're already records on the page
            $("#add").val( "add" );
            document.forms.propfilter.submit();
        }
    });

    // Event for tooltips.
    $( function() {
        $( document ).tooltip();
    } );
});

function SetCombos(sPubl, sObjType, sAction)
{
	// Point to the form having Publication and ObjectType combos...
	var f = document.forms.propfilter;

	// Debug info...
	//alert( f.publ.options[f.publ.selectedIndex] );
	//alert( f.objtype.options[f.objtype.selectedIndex].text );
	//alert( f.action.options[f.action.selectedIndex].text );

	// Select requested values in Publication and ObjectType combos...
	f.publ.selectedIndex = 0;
	for(i=0; i<f.publ.options.length; i++){
		if(f.publ.options[i].value == sPubl){
			f.publ.selectedIndex = i;
			break;
		}
	}
	f.objtype.value = sObjType;
	f.action.value = sAction;

	// Reflect combo changes in properties.php...
	f.submit();
}
</script>

<style>
	.tooltip-wrapper {
		display: inline-block; /* display: block works as well */
		margin: 1px; /* make some space so the tooltip is visible */
	}

	/* Only applicable for disabled elements */
	.tooltip-wrapper input[disabled] {
		/* don't let button block mouse events from reaching wrapper */
		pointer-events: none;
	}

	/* Overwrite the jquery-ui tooltip (popup) style to be similar to Enterprise */
	.ui-tooltip {
		background-color: #777;
		color: white;
		font-size: 8pt;
	}
</style>

<table class="appframe"><tr class="text"><td>
	
	<!-- app header -->
	<table class="apptitlebar">
		<tr class="text">
			<td><img class="apptitleicon" src="../../config/images/dialogs.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:HEA_DIALOG--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form name="propfilter" action="actionproperties.php" method="post">
	<table class="listframe" width="100%"><tr><td>
		<table class="listpane">
			<tr>
				<th width="100"><!--RES:PUBLICATION--></th>
				<th width="100"><!--RES:OBJ_TYPE--></th>
				<th width="100"><!--RES:ACT_ACTION--></th>
			</tr>
			<tr>
				<td valign="top"><!--COMBO:PUBL--></td>
				<td valign="top"><!--COMBO:TYPE--></td>
				<td valign="top"><!--COMBO:ACTION--></td>
			</tr>
		</table>
		<br/>
		<table class="listpane">
			<tr>
				<th><!--RES:PVW_CUSTOM--></th>
			</tr>
			<tr>
				<td valign="top"><!--PUB_TYPE_ACTION_LIST--></td>
			</tr>
		</table>
		<table class="listpane">
			<tr style="<!--WORKFLOW_COLUMNS-->">
				<th style="<!--DELETE_COLUMN-->">
					<div class="tooltip-wrapper">
						<input type="checkbox" name="multiDeleteToggle" onClick="javascript:checkDeleteCheckboxes();">
					</div>
				</th>
				<th><!--RES:OBJ_CATEGORY--></th>
				<th><!--RES:LIS_ORDER--></th>
				<th><!--RES:OBJ_PROPERTY--></th>
				<th><!--RES:OBJ_EDITABLE--></th>
				<th><!--RES:OBJ_MANDATORY--></th>
				<th><!--RES:OBJ_RESTRICTED--></th>
				<!-- <th><!--RES:OBJ_REFRESH--><!-- </th> -->
				<th style="<!--MULTIPLE_OBJECTS_CELL-->"><!--RES:OBJ_MULTIPLE_OBJECTS--></th>
			</tr>
			<tr style="<!--PREVIEW_COLUMNS-->">
				<th style="<!--DELETE_COLUMN-->" width="10px">
					<div class="tooltip-wrapper">
						<input type="checkbox" name="multiDeleteToggle" onClick="javascript:checkDeleteCheckboxes();">
					</div>
				</th>
				<th><!--RES:LIS_ORDER--></th>
				<th><!--RES:OBJ_PROPERTY--></th>
			</tr>
		<!--ROWS-->
		</table>
		<br/>
		<table class="listbtnbar">
			<tr>
				<td>
					<input style="<!--RESET_BUTTON-->"  type="submit" name="reset" value="<!--RES:BUT_RESET-->" onClick='return myconfirm( "reset" )'/>
					<input style="<!--DELETE_BUTTON-->" type="submit" name="delete" value="<!--RES:ACT_DELETE_SELECTED-->" onClick='return myconfirm( "deleteAllSelected" )'/>
					<input style="<!--UPDATE_BUTTON-->" type="submit" name="update" value="<!--RES:BUT_UPDATE-->"/>
					<input style="<!--ADD_BUTTON-->" type="submit" id="dialog_button" name="addButton" value="<!--RES:ACT_ADD-->" />
					<input style="<!--ADD_BUTTON-->" type="hidden" id="add" name="add" value="">
					<input style="<!--ADD_BUTTON-->" type="hidden" id="addDefaultDynamic" name="addDefaultDynamic" value="false">
					<!--10.x.x TODO: Localise the string-->
					<div   style="display:none" id="dialog_confirm" title="Add default fields?">
						<p>
							<span style="float: left; margin: 0 0px 0px 0;"></span>
							This is a first setup for this configuration,
							mandatory properties (if there's any) will be added automatically. <br/>
							There are also some regularly used properties, do you want to add them? <br/>
							(Note that you will be able to remove these regularly used properties or reset
							the configuration later.)
						</p>
					</div>
				</td>
			</tr>
		</table>
	</form>
	</td></tr></table>
	<!--IMG_LOCKIMG--> <!--RES:OBJ_NOT_EDITABLE-->

</td></tr></table>