<script src="../../server/jquery/jquery-1.10.2.min.js"></script>
<script src="../../server/jquery/jquery-ui-1.8.24.custom.min.js"></script>
<link rel="stylesheet" href="../../config/jquery-ui/jquery-ui-1.8.24.custom.css">
<style>
    body { font-size: 62.5%; line-height: 11pt; }
    input.text { margin-bottom:6px; width:97%; padding: .4em; }
    .disabled { background:#E6E6E6; color:#A1A1A1;}
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .ui-widget-header { border: 1px solid #e78f08; background: #333333 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; color: #D22727  }
    .styled { width: 100%; padding: 0.4em; margin-bottom: 6px }
</style>
<script language="javascript" type="text/javascript">
    $(document).ready(function(){
        var publicationTitle = $('#form_publication_title');
        var productId = $('#form_product_id');
        var issueStatus = $('#form_issue_status');
        var issueId = $('form_issue_id');
        var freePaid = $('#form_free_paid');
        var channelId = $('#channelEditionId');
        var allFields = $( [] ).add(publicationTitle).add(productId).add(issueStatus).add(freePaid);
        var url = "<!--PAR:URL-->";
        var loginPageUrl = "<!--PAR:LOGIN-->";

        // Initialize dialog
        $('#dialog-form').dialog({
            autoOpen: false,
            height: 350,
            width: 350,
            modal: true,
            buttons: {
                'Cancel': function() {
                    $(this).dialog('close'); },
                'Save': function() {
                    var formValid = true;

                    // Clear errors from fields.
                    allFields.removeClass( 'ui-state-error' );

                    // Validate Issue Status input.
                    var stateVal = issueStatus.val();
                    if (stateVal != 'disabled' && stateVal != 'test' && stateVal != 'production') {
                        updateTips( 'Issue status is invalid.');
                        issueStatus.addClass('ui-state-error');
                        formvValid = false;
                    }

                    // Validate Free / Paid input.
                    var freeVal = freePaid.val();
                    if (freeVal != 'noChargeStore' && freeVal != 'appleStore') {
                        updateTips( 'Free/Paid is invalid.').
                                freePaid.addClass('ui-state-error');
                        formValid = false;
                    }

                    var udProductId = productId.val();
                    var udIssueId = $('#form_issue_id').val();
                    var udChannelId = channelId.val();

                    var inputs = $( '#dialog-form' ).find('select, button');
                    inputs.attr("disabled", "disabled");

                    var fv = 'Paid';
                    if (freeVal == 'noChargeStore') {
                        fv = 'Free';
                    }

                    var data = 'ud_issue_id='+ udIssueId+ '&' +
                            'ud_product_id='+ udProductId+ '&' +
                            'ud_issue_status='+ stateVal + '&' +
                            'ud_free_paid='+ freeVal + '&' +
                            'channelEditionId='+udChannelId + '&' +
                            'dpsTicket='+$('input[name=dpsTicket]').val() + '&' +
                            'accountId='+$('input[name=accountId]').val();

                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: data,
                        // callback handler that will be called on success.
                        success: function(data, textStatus, jqXHR){
                            // Update records in the table.
                            $('#' + udIssueId + '_state').text(stateVal);
                            $('#' + udIssueId + '_free').text(fv);

                            // Close dialog.
                            $('#dialog-form').dialog('close');

                            // On an update we expect the response to be empty, if this is not the case
                            // then the users ticket will have expired so we redirect to the login page.
                            if (data != '') {
                                $(location).attr('href',loginPageUrl);
                            }
                        },
                        // Handle callback errors.
                        error: function(jqXHR, textStatus, errorThrown){
                            // set error and exit
                            updateTips(errorThrown);
                            inputs.removeAttr('disabled');
                        },
                        complete: function(){
                        }
                    });
                }
            },
            close: function() {
                var inputs = $( '#dialog-form' ).find('select, button');
                inputs.removeAttr('disabled');
                inputs.removeClass('ui-state-highlight').removeClass('ui-state-error');
                $('#validateTips').removeClass('ui-state-highlight');
                $('#validateTips').text('');
            }
        });
    });

    function buildForm(dpsIssueId) {
        // Column value ids.
        var dpsStatusIdentifier = dpsIssueId + '_state';
        var dpsFreeIdentifier = dpsIssueId + '_free';
        var dpsProductIdentifier = dpsIssueId + "_productid";
        var dpsPublicationTitle = dpsIssueId + "_publicationtitle";

        // Get column values.
        var stateVal = $('#' + dpsStatusIdentifier).html();
        var freeVal = $('#' + dpsFreeIdentifier).html();
        var productIdVal = $('#' + dpsProductIdentifier).html();
        var publicationTitleVal = $('#' + dpsPublicationTitle).html();

        // Set dialog form values, take defaults where needed.
        $( '#form_publication_title' ).val(publicationTitleVal);
        $( '#form_product_id' ).val(productIdVal);
        $( '#form_issue_id' ).val(dpsIssueId);

        if (stateVal == 'disabled' || stateVal == 'test' || stateVal == 'production') {
            $( '#form_issue_status' ).val(stateVal);
        }

        if (freeVal == 'Free') {
            $( '#form_free_paid' ).val('noChargeStore');
        }

        if (freeVal == 'Paid') {
            $( '#form_free_paid' ).val('appleStore');
        }

        // Open the dialog.
        $( '#dialog-form' ).dialog('open');

        // Keep dialog in relative position of the row being edited
        var offset = $('#dialog-form').offset().top -50;
        $('html,body').animate({ scrollTop: offset}, 'slow');
    }

    // Updates the form errors part.
    function updateTips( t ) {
        $('#validateTips').text( t ).addClass( 'ui-state-highlight' );
        setTimeout(function() {
            $('#validateTips').removeClass( 'ui-state-highlight', 1500 );
        }, 500 );
    }

    function confirmDelete(dpsIssueId) {
        if (confirm('<!--PAR:WARN_MESG_DEL-->\n\n<!--RES:ACT_SURE_DELETE_ISSUE-->')) {
            var theForm = document.forms.adobedpsissues;
            theForm.delIssueId.value = dpsIssueId;
            theForm.submit();
        }
    }

	function onSearch() {
       var theForm = document.forms.adobedpsissues;
       theForm.pubChanged.value = 'true';
	}
	
</script>

<form name="adobedpsissues" action="adobedpsissues.php" method="post" id="adobedpsissuesform">
    <table class="appframe">
        <tr class="text">
            <td>
                <!-- app header -->
                <table class="apptitlebar">
                    <tr>
                        <td><img class="apptitleicon" src="../../config/images/adobedps_32.gif"/></td>
                        <td>&nbsp;<span class="apptitletext"><!--RES:ONLINE_DPS_ISSUE--></span></td>
                    </tr>
                </table>
                <table class="infobody">
                    <tr>
                        <td height="30px" align="top"><font color="red" size="3"><!--PAR:WARN_MESG1--></font></td>
                    </tr>
                    <tr>
                        <td><font color="red" size="3"><!--PAR:WARN_MESG2--></font></td>
                    </tr>
                    <tr>
                        <td><font color="red" size="3"><!--PAR:WARN_MESG3--></font></td>
                    </tr>
                    <tr>
                        <td height="40px" align="top"><font color="red" size="3"><!--PAR:WARN_MESG4--></font></td>
                    </tr>
                </table>

                <table class="apptitlebar" >
                    <tr>
                        <td height="20px" align="top>">
                            <font size="2"><strong>DPS Accounts:</strong></font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--PAR:BRAND_COMBOBOX--><br/>
                            <font color="red"><!--PAR:ERROR--></font>
                        </td>
                        <td>
                            <input type="image" src="../../config/images/srch_16.gif" value="Refresh" alt="search" title="search" onclick="onSearch()" />
                        </td>
                    </tr>
                </table>

                <!-- app body -->
                <table class="formbody" id="formbody">
                    <tr>
                        <th><!--RES:DPS_PRODUCTID--></th>
                        <th><!--RES:PRISM_PUBLICATIONNAME--></th><!-- magazine title -->
                        <th><!--RES:DPS_VOLUMENUMBER--></th>
                        <th><!--RES:OBJ_DESCRIPTION--></th>
                        <th><!--RES:DPS_ADM_IN_ENTERPRISE--></th>
                        <th><!--RES:OBJ_DIMENSIONS--></th>
                        <th><!--RES:DPS_ISSUE_STATUS--></th>
                        <th><!--RES:DPS_ADM_FREE_PAID--></th>
                        <th><!--RES:DPS_ADM_PUBLICATION_DATE_UTC--></th>
                        <th><!--RES:ACT_REMOVE--></th><!-- delete buttons -->
                        <th><!--RES:ACT_EDIT--></th><!-- edit buttons -->
                        <!--
                            <th>Manifest XRef</th>
                            <th>Library Preview URL</th>
                            <th>Landscape Version</th>
                            <th>Portrait Version</th>
                        -->
                    </tr>
                    <!--PAR:ISSUEINFO>-->
                    <tr id="<!--PAR:ISSUE_ID-->">
                        <td id="<!--PAR:ISSUE_ID-->_productid"><!--PAR:PRODUCT_ID--></td>
                        <td id="<!--PAR:ISSUE_ID-->_publicationtitle"><!--PAR:MAGAZINE_TILE--></td>
                        <td><!--PAR:ISSUE_NUMBER--></td>
                        <td><!--PAR:DESCRIPTION--></td>
                        <td><!--PAR:IN_ENTERPRISE--></td>
                        <td><!--PAR:DIMENSIONS--></td>
                        <td id="<!--PAR:ISSUE_ID-->_state"><!--PAR:STATE--></td>
                        <td id="<!--PAR:ISSUE_ID-->_free"><!--PAR:FREE_LABEL--></td>
                        <td><!--PAR:PUBLICATION_DATE--></td>
                        <td>
                            <a href="#" onclick="confirmDelete('<!--PAR:DPS_ISSUE_ID-->')">
                                <img border="0" title="<!--RES:ACT_DELETE-->" src="../../config/images/remov_16.gif" alt="<!--RES:ACT_DELETE-->">
                            </a>
                        </td>
                        <td>
                       		<!--PAR:IMG_EDIT-->
                        </td>
                        <!--
                            <td>PAR:MANIFEST_XREF</td>
                            <td>PAR:LIBRARY_PREVIEW_URL</td>
                            <td>PAR:LANDSCAPE_VERSION</td>
                            <td>PAR:PORTRAIT_VERSION</td>
                        -->
                    </tr>
                    <!--<PAR:ISSUEINFO-->
                </table>
                <br/>
                <!--PAR:DPS_TICKET-->
                <!--PAR:ACCOUNT_ID-->
                <!--PAR:DEL_ISSUE_ID-->
                <!--PAR:PUBLICATION_CHANGED-->

                <!-- button bar -->
            </td>
        </tr>
    </table>
</form>

<div id="dialog-form" title="Edit Issue">
    <p class="validateTips" id="validateTips"></p>
    <form id="updateForm">
        <label for="form_product_id"><!--RES:DPS_ADM_FORM_PRODUCT_ID--></label>
        <input type="text" name="form_product_id" id="form_product_id" class="text ui-widget-content ui-corner-all disabled" value="" disabled />
        <label for="form_publication_title"><!--RES:DPS_ADM_FORM_PUBLICATION_TITLE--></label>
        <input type="text" name="form_publication_title" id="form_publication_title" class="text ui-widget-content ui-corner-all disabled" disabled/>
        <label for="form_issue_status"><!--RES:DPS_ADM_FORM_ISSUE_STATUS--></label>
        <select id="form_issue_status" name="form_issue_status" class="select styled">
            <option value="disabled">Disabled</option>
            <option value="production">Production</option>
            <option value="test">Test</option>
        </select>
        <label for="form_free_paid"><!--RES:DPS_ADM_FORM_FREE_PAID--></label>
        <select id="form_free_paid" name="form_free_paid" class="select styled">
            <option value="noChargeStore">Free</option>
            <option value="appleStore">Paid</option>
        </select>
        <input type="hidden" name="form_issue_id" id="form_issue_id" value="" />
    </form>
</div>
