<table class="appframe" witdh="100%"><tr><td>

	<table cellpadding="30px" width="600px">
		<tr class="menuicons">
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_BRAND_SYS_ADMIN_ONLY-->">
				<a href="../admin/removebydate.php">
					<img src="../../config/images/removebydate.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:ACT_REMOVE_BY_DATE--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
				<a href="../admin/online.php">
					<img src="../../config/images/go_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MNU_ONLINE--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
				<a href="../admin/log.php">
					<img src="../../config/images/log.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MNU_LOG--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
				<a href="../wwtest/testsuite.php">
					<img src="../../config/images/healthcheck_32.png" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MNU_HEALTHCHECK--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="1px"> <!-- trick to left align when some icons above are hidden -->
			</td>
		</tr>

		<tr class="menuicons">
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
				<a href="../admin/dbadmin.php">
					<img src="../../config/images/dbadmin_32.png" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MNU_DBADMIN--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
				<a href="../../sdk/doc/interfaces/index.htm">
					<img src="../../config/images/webservicesdk_32.png" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MNU_WEBSERVICESSDK--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
                <a href="../admin/advanced.php?clearopcache=1">
                    <img src="../../config/images/Zend_icon.png" border="0" width="32" height="32"/>
                    <br/><nobr><!--RES:CLEAR_ZEND_OPCACHE_MSG--></nobr>
                </a>
			</td>
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
				<a href="../admin/showlog.php?act=rootfolderindex">
					<img src="../../config/images/server_logs.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MNU_SERVER_LOGS--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="1px"> <!-- trick to left align when some icons above are hidden -->
			</td>
		</tr>
	</table>
</td></tr></table>
