<link rel="stylesheet" href="<!--INETROOT-->/config/jstree/style.css" />

<style>
	table.wwauth {
		border-spacing: .3em;
		border-collapse: collapse;
	}
	table.wwauth tr.separator td {
		padding: .3em;
	}
	table.wwauth tr td {
		color: gray;
		font-size: 7pt;
	}
	table.wwauth tr.readonly {
		border: 1px solid #C8C8C8;
		background-color: #FAFAFA;
	}
	table.wwauth tr.editable {
		border-top: 1px solid #C8C8C8;
	}
	table.wwauth tr.editable, table.wwauth tr.editbtnbar {
		background-color: #EFEFEF;
		border-left: 1px solid #C8C8C8;
		border-right: 1px solid #C8C8C8;
	}
	table.wwauth tr.editbtnbar {
		border-bottom: 1px solid #C8C8C8;
	}
	/* Let FireFox reflect tr->td->div->height=100% */
	@-moz-document url-prefix() {
		table.wwauth tr {
			height: 100%;
		}
		table.wwauth tr td {
			height: 100%;
		}
	}
	table.wwauth tr td,
	table.wwauth tr th  {
		padding-top: .5em;
		padding-bottom: .5em;
		padding-left: .5em;
		width: 100px;
	}
	table.wwauth tr.editable td {
		padding-bottom: 1px;
	}
	table.wwauth tr.editbtnbar td {
		padding-top: 1px;
	}
	table.wwauth tr.editable div.btnbar,
	table.wwauth tr.editbtnbar div.btnbar {
		padding-left: .5em;
		display: block;
		white-space: nowrap;
	}
	table.wwauth tr.editbtnbar div.btnbar a {
		font-size: 6pt;
	}
	table.wwauth tr.editable div.btnbar a {
		display: block;
		padding:0.6em;
	}
	table.wwauth tr.editable div.btnbar button {
		display: block;
	}
	table.wwauth tr.readonly div.btnbar {
		height: 100%;
		overflow: auto;
		padding-left: 1em;
	}
	table.wwauth div.chkbox {
		border: 1px solid #C8C8C8;
		height: 100%;
		overflow: auto;
		background-color: #FCFCFC;
		white-space: nowrap;
	}
	table.wwauth tr.readonly ul {
		margin: .6em;
		padding: 0;
		list-style:none;
	}
	table.wwauth div.separator {
		content: '';
		display: inline-block;
		background: #C8C8C8;
		margin: 0 8px;
		height: 12px;
		width: 1px;
		vertical-align: top;
	}

	/* jsTree overrides defining WW colors and smaller checkboxes  */
	table.wwauth .jstree-icon {
		background-image: url("<!--INETROOT-->/config/jstree/32px_ww.png");
	}
	table.wwauth .jstree-hovered {
		background: #fbecca
	}
	table.wwauth .jstree-context {
		background: #fbecca;
	}
	table.wwauth .jstree-clicked {
		background: #fbecca;
	}
	table.wwauth .jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
		background: #fbecca
	}

	/* jsTree overrides hiding the fold/unfold icons for categories and profiles */
	#jstree_categories .jstree-node > .jstree-icon,
	#jstree_profiles .jstree-node > .jstree-icon {
		display:none !important;
	}
</style>

<script language="javascript" type="text/javascript" src="<!--INETROOT-->/server/jquery/jstree-3.3.1.min.js" ></script>

<script language="javascript">
	function addAuth()
	{
		var authForm = document.forms.authform;
		authForm.authids.value = null;
		authForm.command.value = 'add';
		authForm.submit();
	}
	function editAuth( authIds )
	{
		var authForm = document.forms.authform;
		authForm.authids.value = authIds;
		authForm.command.value = 'edit';
		authForm.submit();
	}
	function copyAuth( authIds )
	{
		var authForm = document.forms.authform;
		authForm.authids.value = authIds;
		authForm.command.value = 'copy';
		authForm.submit();
	}
	function saveAuth( authIds )
	{
		var authForm = document.forms.authform;
		authForm.authids.value = authIds;
		authForm.command.value = 'save';
		authForm.selcategoryids.value = $('#jstree_categories').jstree("get_selected").join(",");
		authForm.selstatusids.value = $('#jstree_statuses').jstree("get_selected").join(",");
		authForm.selprofileids.value = $('#jstree_profiles').jstree("get_selected").join(",");
		authForm.submit();
	}
	function viewAuth()
	{
		var authForm = document.forms.authform;
		authForm.authids.value = null;
		authForm.command.value = 'view';
		authForm.submit();
	}
	function deleteAuth( authIds )
	{
		if( confirm( "<!--RES:AUT_SURE_QMK-->" ) ) {
			var authForm = document.forms.authform;
			authForm.authids.value = authIds;
			authForm.command.value = 'delete';
			authForm.submit();
		}
	}
</script>

<script language="javascript">
	$(function () {
		$('#jstree_categories').jstree({
			'plugins':["checkbox"],
			'core' : {
				"themes":{
					"icons":false,
					"dots":false,
					"variant": "small"
				},
				'data' : [/*VAR:CATEGORIES*/]
			},
			"checkbox" : {
				"keep_selected_style" : false
			},
		}).on('changed.jstree', function() {
			$(this).checkJsTrees();
		});
		$('#jstree_statuses').jstree({
			'plugins':["checkbox"],
			'core' : {
				"themes":{
					"icons":false,
					"dots":false,
					"variant": "small"
				},
				'data' : [/*VAR:STATUSES*/]
			},
			"checkbox" : {
				"keep_selected_style" : false
			},
		}).on('changed.jstree', function() {
			$(this).checkJsTrees();
		});
		$('#jstree_profiles').jstree({
			'plugins':["checkbox"],
			'core' : {
				"themes":{
					"icons":false,
					"dots":false,
					"variant": "small"
				},
				'data' : [/*VAR:PROFILES*/]
			},
			"checkbox" : {
				"keep_selected_style" : false
			},
		}).on('changed.jstree', function() {
			$(this).checkJsTrees();
		});

		/**
		 * Disable the save button if no checkbox is selected in the status, category and profile trees.
		 */
		(function( $ ) {
			$.fn.checkJsTrees = function() {
				var $disableSave =
					$("#jstree_statuses").find(".jstree-clicked").length == 0 ||
					$("#jstree_categories").find(".jstree-clicked").length == 0 ||
					$("#jstree_profiles").find(".jstree-clicked").length == 0;
				$("#savebtn").prop("disabled", $disableSave);
			};
		})( jQuery );
	});
</script>

<table class="appframe"><tr class="text"><td>
	
	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/lock.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_AUTHORIZATION_MAINTENANCE--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form name="authform" action="authorizations2.php" method="post">
	<table class="formframe" width="100%"><tr><td>
		<table class="infobody">
			<tr>
				<td class="infoname"><!--RES:PUBLICATION--></td>
				<td width="50%" class="infovalue"><!--VAR:PUBL--></td>
				<td width="25%"></td>
			</tr>
			<!--IF:STATE-->
			<tr>
				<td class="infoname"><!--RES:ISSUE--></td>
				<td width="50%" class="infovalue"><!--VAR:ISSUE--></td>
				<td width="25%"></td>
			</tr>
			<!--ENDIF-->
			<tr>
				<td class="infoname"><!--RES:MNU_GROUP--></td>
				<td width="50%" class="infovalue"><!--VAR:GROUP--></td>
				<td width="25%" style="text-align: right;"><!--VAR:ADD_AUTH_BTN--></td>
			</tr>
		</table>
	</td></tr></table>

	<table class="listframe"><tr><td>
		<table class="wwauth">
			<tr>
				<th width="100"><!--RES:SECTIONS--></th>
				<th width="100"><!--RES:STATES--></th>
				<th width="100"><!--RES:MNU_PROFILES--></th>
				<th width="100">&nbsp;</th>
			</tr>
			<!--ROWS-->
		</table>
	</td></tr></table>
		<input type="hidden" name="authids" id="authids"/>
		<input type="hidden" name="command" id="command" value="view"/>
		<input type="hidden" name="selcategoryids" id="selcategoryids"/>
		<input type="hidden" name="selstatusids" id="selstatusids"/>
		<input type="hidden" name="selprofileids" id="selprofileids"/>
	</form>
	<br/>
    <a href="<!--BACK-->">
    	<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
    </a>
    
</td></tr></table>
