<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><!--RES:AUTO_PURGE_SUMMARY--></title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<style type="text/css">
		tr.d0 td {	background-color: #DDDDDD; color: black; }
	</style>
</head>
<body>
	<table style="font:13px arial, sans-serif" border="0" cellpadding="2" cellspacing="2">
		<tr class="d0"><td colspan="2"><b><!--RES:AUTO_PURGE_SUMMARY--></b></td></tr>
		
		<tr class="d0" style="<!--VAR:AUTO_PURGE_RESULT-->"><td><!--RES:AUTO_PURGE_NUM_BEFORE--></td><td><!--VAR:DELETED_OBJ_BEFORE_PURGE--></td></tr>
		<tr class="d0" style="<!--VAR:AUTO_PURGE_RESULT-->"><td><!--RES:AUTO_PURGE_NUM_AFTER--></td><td><!--VAR:DELETED_OBJ_AFTER_PURGE--></td></tr>
		<tr class="d0" style="<!--VAR:AUTO_PURGE_RESULT-->"><td><!--RES:AUTO_PURGE_NUM_TOTAL--></td><td><!--VAR:TOTAL_DELETED--></td></tr>
		
		<tr class="d0" style="<!--VAR:AUTO_PURGE_TIMESTAT-->"><td><!--RES:INFO_START_TIME--></td><td><!--VAR:TIMESTAT_STARTED--></td></tr>
		<tr class="d0" style="<!--VAR:AUTO_PURGE_TIMESTAT-->"><td><!--RES:INFO_END_TIME--></td><td><!--VAR:TIMESTAT_ENDED--></td></tr>
		<tr class="d0" style="<!--VAR:AUTO_PURGE_TIMESTAT-->"><td><!--RES:AUTO_PURGE_MSG_TIME--></td><td><!--VAR:TIMESTAT_DURATION-->s</td></tr>
		
		<tr class="d0" style="<!--VAR:AUTO_PURGE_STATUS_ERR-->"><td style="color: #FF0000" colspan="2"><!--RES:AUTO_PURGE_MSG_FAILED-->:<br/>
		<!--VAR:STATUS_ERR_MSG--><br/><!--VAR:STATUS_ERR_DETAIL--></td></tr>
		<tr class="d0" style="<!--VAR:AUTO_PURGE_STATUS_SUCC-->"><td style="color: #006633" colspan="2"><!--RES:AUTO_PURGE_MSG_SUCC-->!</td></tr>
	</table>
</body>
</html>