<script language="javascript">
function myconfirm(code)
{
	switch(code) {
		case 'delpubobject':
			txt = "<!--RES:ACT_SURE_DELETE_GROUP_OF_DOSSIER_TEMPLATE-->";
			break;
	}
	return confirm(txt);
}
</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/objecticons/DossierTemplate_32x32.png"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_DOSSIER_TEMPLATE_MAINTENANCE--></span></td>
		</tr>
		<tr>
			<td colspan="2"><font color="#ff0000"><!--ERROR--></font></td>
		</tr>
	</table>
	<!-- app body -->
	<form action="dossiertemplates.php" method="post" name="frmdossiertemplate">
	<table class="formframe" width="50%"><tr><td>
		<table class="formbody">
			<tr><td><!--RES:PUBLICATION--></td><td><!--VAR:PUBL--></td></tr>
			<!--IF:ISSUE-->
			<tr><td><!--RES:ISSUE--></td><td><!--VAR:ISSUE--></td></tr>
			<!--ENDIF:ISSUE-->
			<tr><td><!--RES:DOSSIER_TEMPLATE--></td><td><!--VAR:DOSSIER_TEMPLATE--></td></tr>
			<tr><td></td><td></td></tr>
		</table>
	</td></tr></table>		
	<br/>
	
	<table class="listframe" width="50%"><tr><td>
		<table class="listpane">
			<tr>
				<th width="100px"><!--RES:MNU_GROUP--></th>
				<!--EXTRA_HEADER-->
			</tr>
			<!--ROWS-->
		</table>
	</td></tr><tr><td>
	<table class="listbtnbar"><tr><td>
		<input type="submit" name="update" value="<!--RES:BUT_UPDATE-->"/>
		<input type="submit" name="add" value="<!--RES:ACT_ADD_GROUP-->"/>
	</td></tr></table>
	</td></tr></table>
	</form>
	<br/>
	<a href="<!--BACK-->">
		<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
	</a>

</td></tr></table>