<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/datasource_32.png"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:DS_DATASOURCE--></span></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;<span class="subtitletext"><!--RES:DS_COPY_DESC--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form name="dscopy" action="dscopy.php" method="post">
	<table class="formframe"><tr><td>
		<table class="formbody">
			<tr>
				<th>Data Sources</th>
				<th>Copy Queries</th>
				<th>New Name</th>
			</tr>
			<tr>
				<td><!--PAR:DATASOURCE_LIST--></td>
				<td align="center"><input type="checkbox" name="copyqueries" <!--VAR:COPYQUERIES-->></td>
				<td><input type="text" name="newname" value="<!--VAR:NEWNAME-->"></td>
			</tr>
			<tr>
				<td colspan="3"><font color="#ff0000"><!--PAR:ERROR--></font></td>
			</tr>
		</table>
	</td></tr><tr><td>
		<table class="formbtnbar">
			<tr>
				<td>
					<input type="submit" name="Copy" value="<!--RES:ACT_COPY-->">
				</td>
			</tr>
		</table>
	</td></tr></table>
	</form>
	
	<br/>
    <a href="datasources.php?dsSelect=<!--PAR:PRESELECTED_DATASOURCE-->">
    	<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
    </a>
    
</td></tr></table>
