<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/issue.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_DUPLICATE_ISSUE--> - <!--NAME--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form name="duplicate" action="duplicate_issue.php" method="post">
	<table class="formframe" width="50%"><tr><td>
		<table class="formbody">
			<tr>
				<th><!--RES:OBJ_NEW_NAME--></th>
			</tr>
			<tr>
				<td><!--VARS--></td>
			</tr>
			<tr>
				<td><!--ERROR--></td>
			</tr>
		</table>
	</td></tr><tr><td>
		<table class="formbtnbar">
			<tr>
				<td>
					<input type="submit" value="<!--RES:ACT_DUPLICATE-->"/>
				</td>
			</tr>
		</table>
	</td></tr></table>
	</form>
	<br/>
	<a href="javascript:history.back();">
		<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
	</a>
</table>
