<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WoodWing Enterprise</title>
    <style type="text/css">
        tr.even td { background-color: #DDDDDD; color: black; }
        tr.odd td {	background-color: #EEEEEE; color: black; }
    </style>
</head>
<body>
<table border="0" width="550" cellpadding="0" cellspacing="0" style="max-width:550px; border-top:4px solid #FA0; font: 12px arial, sans-serif; margin: 0 auto;">
    <tr><td>
        <p>%Header%</p>
        <p>%Comment%</p>
        <div style="font:13px arial, sans-serif; width:550px">
            <a href="%server_inetroot%/contentstation/index.html">Log in</a>
            <div style="margin-top: 6px; border-bottom: 2px solid #ddd; line-height:3px">&nbsp;</div>

            <table style="font:13px arial, sans-serif" width="550" border="0">
                <tr class="even">
                    <td valign="top"><strong>Name</strong></td>
                    <td valign="top"><strong>Brand</strong></td>
                    <td valign="top"><strong>Category</strong></td>
                    <td valign="top"><strong>Status</strong></td>
                </tr>
                %changedObjectRows%
            </table>

            <br/>

            <div style="margin-top: 6px; border-bottom: 2px solid #ddd; line-height:3px">&nbsp;</div>
            <p style="width: 550px; margin: 3px auto; font: 10px arial, sans-serif; color: #999;"><a href="http://www.woodwing.com">WoodWing Software</a></p>

        </div>
    </td></tr>
</table></body></html>