<table class="appframe">
	<tr><td colspan="5">&nbsp;</td></tr>
	<tr><td colspan="5">&nbsp;</td></tr>
 	<tr class="menuicons">
		<td width="15%" align="center"><a href="../apps/exportPDF.php">
			<img src="../../config/images/pdf_32.gif" border="0" width="32" height="32"/><br/><br/><!--RES:ACT_EXPORT_PDF_PAGES--></a>
		</td>
		<td width="15%" align="center"><a href="../apps/exportObject.php?ObjType=Article">
			<img src="../../config/images/xml_32.gif" border="0" width="32" height="32"/><br/><br/><!--RES:ACT_EXPORT_ARTICLES--></a>
		</td>
		<td width="15%" align="center"><a href="../apps/exportObject.php?ObjType=Image">
			<img src="../../config/images/image_32.gif" border="0" width="32" height="32"/><br/><br/><!--RES:ACT_EXPORT_IMAGES--></a>
		</td>
		<td width="15%" align="center"><a href="../apps/exportObject.php?ObjType=Video">
			<img src="../../config/images/video_32.gif" border="0" width="32" height="32"/><br/><br/><!--RES:ACT_EXPORT_VIDEOS--></a>
		</td>
		<td width="15%" align="center"><a href="../apps/exportObject.php?ObjType=Audio">
			<img src="../../config/images/audio_32.gif" border="0" width="32" height="32"/><br/><br/><!--RES:ACT_EXPORT_AUDIOS--></a>
		</td>
	</tr>
	<tr><td colspan="5">&nbsp;</td></tr>
	<tr><td colspan="5">&nbsp;</td></tr>
</table>
