<script language="JavaScript">

function AreYouSure(message, value, maxCount)
{
	//var issue = document.remove.Issue.options[document.remove.Issue.selectedIndex].text;
	//var publication = document.remove.Publication.options[document.remove.Publication.selectedIndex].text;
	var x = countChecked(maxCount);
	if (x > 0) {
		var msg = message + " " + x + " " + value;
		var sure = confirm(msg);
		if (sure == true) {
			///window.location="removeissue2.php";
			document.content.submit();
			//alert("It still works.");
		}
	} else {
		var msg = "<!--RES:ACT_SELECT_ONE_OR_MORE-->" + " " + value + " " + "<!--RES:ACT_TO_EXPORT-->";
		alert(msg);
	}
}

function countChecked(maxCount)
{
	cnt=0;
	for(i = 0; i < maxCount; i++){
		var enc = eval("document.content.checkbox"+i+".checked");
		if (enc){
			cnt++;
		}
	}
	return cnt;
}

function popUp(URL)
{
	day = new Date();
	id = day.getTime();
	//eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=750,height=700,left = 150,top = 0');");
	document.location.href=URL;
}

function setAllCheckBoxes( formName, fieldName, checkValue )
{
	if(!document.forms[formName]) {
		return;
	}
	var i = 0;
	while( document.forms[formName].elements[fieldName + i] ) {
		var box = document.forms[formName].elements[fieldName + i];
		box.checked = checkValue;
		i++;
	}
}

function validateOnSubmit( changeFieldName )
{
	var comboFieldForm = document.forms.combofield;
	if( changeFieldName == 'Brand' ) { // When Brand field value change, reset Issue and Edition combobox value
		comboFieldForm.Issue.value = '';
	}

	comboFieldForm.submit();
}

</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="<!--PAR:APP_ICON-->"/></td>
			<td>&nbsp;<span class="apptitletext"><!--PAR:EXPORTTITLE--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form name="combofield" action="<!--PAR:EXPORTPAGE-->" method="post">
	<table class="formframe" width="100%"><tr><td>
		<table class="formbody">
			<tr>
				<th><!--RES:PUBLICATION--></th>
				<th><!--RES:ISSUE--></th>
			</tr>
			<tr>
				<td width="20%">
					<!--COMBOPUB-->
				</td>
				<td width="20%">
					<!--COMBOISS-->
				</td>
			</tr>
		</table>
	</td></tr></table>
	</form>
	<br/>

	<form name="content" method="post" action="<!--PAR:EXPORTPAGE-->" ENCTYPE="multipart/form-data">
	<table class="listframe" width="100%"><tr><td>
		<table class="listpane">
			<tr>
				<th style="width:25px"><!--RES:ACT_EXPORT--></th>
				<th style="width:150px"><!--RES:OBJ_NAME--></th>
				<th style="width:150px"><!--RES:ACT_PLACED_ON--></th>
				<th style="width:10px"/>
				<th style="width:50px"><!--RES:STATE--></th>
				<th style="width:100px"><!--RES:OBJ_SIZE--></th>
			</tr>
			<!--PAR:EXPORTCONTENT-->
		</table>
	</td></tr><tr><td>
		<table class="listbtnbar">
			<tr>
				<td colspan="6" align="right">
					<input type="button" value="<!--RES:ACT_EXPORT-->"
						onClick="javascript:AreYouSure('<!--RES:ERR_EXPORT-->', '<!--PAR:OBJTYPE-->(s)?', '<!--PAR:AMOUNT-->')"/>
					<input type="hidden" name="amount" value="<!--PAR:AMOUNT-->"/>
					<input type="hidden" name="ObjType" value="<!--PAR:OBJTYPE-->">
				</td>
			</tr>
		</table>
	</td></tr><tr><td>
		<table class="appbtnbar">
			<tr>
				<td width="5px">
					<nobr>
						<a href="javascript:setAllCheckBoxes('content','checkbox',true)" title="<!--RES:ACT_SELECT_ALL_ROWS-->">
							<img src="../../config/images/opts_16.gif" border="0" title="<!--RES:ACT_SELECT_ALL_ROWS-->"><!--RES:ACT_SELECT_ALL-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td width="5px">
					<nobr>
						<a href="javascript:setAllCheckBoxes('content','checkbox',false)" title="<!--RES:ACT_UNSELECT_ALL_ROWS-->">
							<img src="../../config/images/cancl_16.gif" border="0" title="<!--RES:ACT_UNSELECT_ALL_ROWS-->"><!--RES:ACT_UNSELECT_ALL-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td/> <!-- makes the two columns (above) do left-align -->
			</tr>
		</table>
	</td></tr></table>
	</form>
	<br/>

</td></tr></table>