<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/users.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_ADD_USERS_TO_GROUP--> - <!--NAME--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form action="usrgrp.php" method="post">
	<table class="formframe" width="100%"><tr><td>
		<table class="formbody">
			<tr>
				<td><!--RES:USR_USER--></td>
				<td width="90%"><!--COMBO--></td>
			</tr>
		</table>
	</td></tr><tr><td>
		<table class="formbtnbar">
			<tr>
				<td>
					<input type="submit" name="update" value="<!--RES:ACT_ADD-->"/>
				</td>
			</tr>
		</table>
	</td></tr></table>
	</form>
	<br/>
	
    <a href="hpgroups.php?id=<!--ID-->">
    	<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
    </a>
    
</td></tr></table>
