<!-- sub header -->
<table class="subtitlebar">
	<tr>
		<td><img class="subtitleicon" src="../../config/images/users_small.gif"/></td>
		<td>&nbsp;<span class="subtitletext"><!--RES:USR_USERS--></span></td>
	</tr>
</table>

<!-- sub body -->
<table class="listframe" width="100%"><tr><td>
	<table class="listpane">
		<tr>
			<th width="100"><!--RES:USR_USER--></th>
			<th width="100"><!--RES:USR_FULL_NAME--></th>
			<th width="100">&nbsp;</th>
		</tr>
		<!--ROWS-->
	</table>
</td></tr><tr><td>
	<table class="appbtnbar">
		<tr>
			<td>
				<a href="usrgrp.php?grp=<!--ID-->">
					<img src="../../config/images/add_16.gif" title="<!--RES:BUT_NEW_GROUP-->"/>
					<!--RES:ACT_ADD_USER-->
				</a>
			</td>
		</tr>
	</table>
</td></tr></table>
