<script language="javascript">
function mydelete()
{
	if(confirm("<!--RES:ACT_SURE_DELETE_PROFILE-->"))
		{
			document.frmpub.vdelete.value='Delete';
			return true;

		}
	return false;
}

function myupdate()
{
	document.frmpub.vupdate.value='Update';
	return true;
}

function check()
{
 	if (document.frmpub.profile.value.length>=1)
	{
			if(document.frmpub.vupdate.value=='')
			{
				document.frmpub.vupdate.value='Update';
				return true;
			}
			else
			{
				document.frmpub.vupdate.value='Update';
				return true;
			}

	}
	else
	{
		alert("<!--RES:ACT_ENTER_PROFILE-->");
		return false;
	}
}

function checkgroup(group, value)
{
	var countCheckBoxes = group.length;
	for(var i = 0; i < countCheckBoxes; i++)
		checkitem('checkobj', group[i], value);
}

function checkitem(name, nr, value)
{
	var objCheckBox = document.forms['frmpub'].elements[name+'['+nr+']'];

	objCheckBox.checked = value;
}
</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/states.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_PROFILE_MAINTENANCE--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form action="hpprofiles.php" method="post" name="frmpub" onSubmit="return check();">
	<table class="formframe" width="100%"><tr><td>
		<table class="formbody">
			<tr>
				<td valign="top"><!--RES:OBJ_NAME--></td>
				<td valign="top"><!--VAR:NAME--><br/><font color="#ff0000"><i><!--ERROR--></i></font></td>
				<td valign="top" align="right"><!--RES:OBJ_DESCRIPTION--></td>
				<td valign="top" align="right"><!--VAR:DESCRIPTION--></td>
			</tr>
		</table>
	</td></tr><tr><td>
		<table class="formbody">
			<tr><!--APPLFEATURES--></tr>
		</table>
	</td></tr><tr><td>
		<table class="formbtnbar">
			<tr><td>
				<!--VAR:BUTTON-->
				<input type="hidden" name="vupdate" value=""/>
				<input type="hidden" name="vdelete" value=""/>
				<!--VAR:HIDDEN-->
			</td></tr>
		</table>
	</td></tr></table>
	</form>
	
	<br/>
	<a href="profiles.php">
		<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
	</a>

</td></tr></table>
