<!-- sub header -->
<table class="subtitlebar">
	<tr>
		<td><img class="subtitleicon" src="../../config/images/lock_small.gif"/></td>
		<td>&nbsp;<span class="subtitletext"><!--RES:AUT_ADMIN_AUTHORIZATIONS--></span></td>
	</tr>
</table>

<!-- sub body -->
<table class="listframe" width="100%"><tr><td>
	<table class="listpane">
		<tr>
			<th width="100"><!--RES:GRP_GROUP--></th>
			<th width="20">&nbsp;</th>
		</tr>
		<!--ROWS-->
	</table>
</td></tr><tr><td>
	<table class="appbtnbar">
		<tr>
			<td width="5px">
				<nobr>
					<a href="publadmin.php?publ=<!--PUBL-->">
						<img src="../../config/images/add_16.gif" border="0" title="<!--RES:ACT_ADD-->"/>
						<!--RES:ACT_ADD-->
					</a>
					&nbsp;
				</nobr>
			</td>
			<td></td> <!-- trick: used fill button bar to far right -->
		</tr>
	</table>
</td></tr></table>
