<script language="javascript"><!--INC:DatePicker.js--></script>
<script language="javascript">

function myconfirm(code)
{
	switch(code) {
		case 'delsection':
			txt = "<!--RES:ACT_SURE_DELETE_SECTION-->";
			break;
		case 'deledition':
			txt = "<!--RES:ACT_SURE_DELETE_EDITION-->";
			break;
		case 'delstate':
			txt = "<!--RES:ACT_SURE_DELETE_STATES_IN_PUBLICATION-->";
			break;
		case 'delauthor':
			txt = "<!--RES:ACT_SURE_DELETE_AUTHORIZATIONS_IN_PUBLICATION_OF_GROUP-->";
			break;
		case 'delroute':
			txt = "<!--RES:ACT_SURE_DELETE_ROUTINGS_OF_SECTION-->";
			break;
		case 'delsectionmapping':
			txt = "<!--RES:ACT_SURE_DELETE_SECTION_MAPPING-->";
			break;
	}
	return confirm(txt);
}

function hideShowElement( _id )
{
	var elem = document.getElementById(_id);
	if( elem.style.display == '' ) {
		elem.style.display = 'none';
	} else {
		elem.style.display = '';
	}
}

function setlastchanged(name)
{
	document.frmissue.lastchanged.value=name;
}

function setSelected( id )
{
	if(id == 0) {
		document.frmissue.sectionmapping.value = "";
	} else {
		document.frmissue.sectionmapping.value = id;
	}
	document.frmissue.sectionmapping.onchange();
}

// When HTML page is entirely loaded...
$( document ).ready(function() {
    // Install trigger that automatically hides/shows the Time Setting icon
    // when the user disables/enables the Automatic Deadline Calculation checkbox.
    $('#Issue_CalculateDeadlines').click(function () {
        $("#timeSettingRow").toggle(this.checked);
        $("#deadlineRow").toggle(this.checked);
    });
    // When the checkbox is initially disabled, hide the Time Settings icon.
    if(!$('#Issue_CalculateDeadlines').attr('checked')) {
        $("#timeSettingRow").toggle(this.checked);
        $("#deadlineRow").toggle(this.checked);
    }
});

</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/issue.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_ISSUE_MAINTENANCE--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form action="hppublissues.php" method="post" name="frmissue">
	<table class="formframe"><tr><td>
		<table class="formbody">
			<tr>
				<td><!--RES:PUBLICATION--></td>
				<td><!--VAR:PUBL--></td>
			</tr>
			<tr>
				<td><!--RES:CHANNEL--></td>
				<td><!--VAR:CHANNEL--></td>
			</tr>
			<!--VAR:ISSUE_PROPERTIES-->
		</table>
		<i>* <!--RES:OBJ_MANDATORY--></i>
		<div style="position:absolute; left:550px; top:150px; visibility:hidden;">
			<table class="formbody">
				<!--VAR:ISSUE_HIDDEN_PROPERTIES-->
			</table>
		</div>
	</td></tr><tr><td>
		<table class="formbtnbar">
			<tr>
				<td>
					<input type="hidden" name="vupdate" value="Update">
					<input type="submit" name="bt_update" value="<!--RES:BUT_UPDATE-->">
					<!--BUT:COPY-->
					<!--BUT:CLEAN-->
				</td>
			</tr>
		</table>
		<input type="hidden" name="lastchanged" id="lastchanged"/>
		<!--VAR:HIDDEN-->
	</td></tr></table>
	<!--DETAILS-->
	</form>
	<br/>

	<a href="editChannel.php?publid=<!--PUBLID-->&channelid=<!--CHANNELID-->">
		<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
	</a>

</td></tr></table>
