<!-- sub header -->
<table class="subtitlebar">
	<tr>
		<td><img class="subtitleicon" src="../../config/images/editprops_24.gif"/></td>
		<td>&nbsp;<span class="subtitletext"><!--RES:ACT_SETPROPERTIES_OBJECT--></span></td>
	</tr>
</table>

<table class="formframe"><tr><td>
	<table class="formbody">
		<tr><td><!--RES:OBJ_NAME--></td><td><!--VAR:NAME--> <font color="#ff0000"><i><!--ERROR--></i></font></td></tr>
		<tr><td><!--RES:WFL_EMAIL_NOTIFICATIONS--></td><td><!--VAR:EMAIL--></td></tr>
		<tr><td><!--RES:OBJ_DESCRIPTION--></td><td><!--VAR:DESCRIPTION--></td></tr>
		<tr><td><!--RES:READINGDIRECTION--></td><td><!--VAR:READINGORDER--></td></tr>
		<tr style="<!--VAR:AUTO_PURGE_ENABLED-->"><td><!--RES:AUTO_PURGE--></td><td><!--VAR:AUTO_PURGE--></td></tr>
		<tr><td><!--RES:DEFAULT_CHANNEL--></td><td><!--VAR:DEFAULT_CHANNEL--></td></tr>
		<tr><td><!--RES:TIMESETTINGS--></td><td><!--VAR:TIMESETTINGS--></td></tr>
	</table>
</td></tr><tr><td>
	<table class="formbtnbar">
		<tr>
			<td align="right">
				<!--VAR:BUTTON-->
				<input type="hidden" name="vupdate" value="">
				<input type="hidden" name="vdelete" value="">
				<!--VAR:HIDDEN-->
			</td>
		</tr>
	</table>
</td></tr></table>
