<html>
<head>
	<style type="text/css">
		.editing {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; text-align: center; background: #CC3300}
		.section { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; text-align: center; background: #FFFF66}
		.titlebar { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-align: center; background: #000033}
	</style>

	<script language="JavaScript">
	function SetBorder(obj,section,status,color){
		obj.style.borderWidth=1;
		document.getElementById("status").innerHTML=status
		document.getElementById("status").style.background=color
		document.getElementById("section").innerHTML=section
		document.getElementById("section").style.background=color
	
		document.getElementById("statuspanel").style.left=obj.style.left
		document.getElementById("statuspanel").style.top=obj.style.top
		document.getElementById("statuspanel").style.visibility="visible"
	}
	function DelBorder(obj){
		obj.style.borderWidth=0
		document.getElementById("statuspanel").style.visibility="hidden"
	}
	</script>
</head>
<body bgcolor="#FFFFFF" text="#000000">
	<div id="statuspanel" style="position:absolute; left:570px; top:280px; width:130px; height:50px; z-index:3; border: 2px  #0000FF; visibility: hidden">
	  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#000033">
	    <tr>
	      <td>
		<div class="titlebar"><!--RES:OBJ_STATUS_INFO-->:</div>
	      </td>
	    </tr>
		<tr>
	      <td>
	        <div id="section" class="section"><!--RES:SECTION--></div>
	      </td>
	    </tr>
	    <tr>
	      <td>
	        <div id="status" class="editing"><!--RES:ACT_EDITING--></div>
	      </td>
	    </tr>
	
	  </table>
	</div>
	<!--IMAGE-->
</body>
</html>
