<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar" width="100%">
		<tr>
			<td width="5px"><img class="apptitleicon" src="../../config/images/ids_overview_32.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:IDS_SERVER_OVERVIEW--></span></td>
			<td valign="middle" align="right"><a href="indesignserverjobs.php"><img src="../../config/images/ids_jobs_32.gif" title="<!--RES:IDS_SERVER_JOBS-->" border="0" width="32" height="32"></a></td>
		</tr>
	</table>

	<!-- app body -->
	<table class="listframe" width="100%"><tr><td>
		<table class="listpane">
			<tr>
				<th width="200"><!--RES:IDS_INDSERVER--></th>
				<th><!--RES:OBJ_VERSION--></th>
				<th width="200"><!--RES:OBJ_DESCRIPTION--></th>
				<th><!--RES:IDS_PRIO--></th>
				<th><!--RES:ISS_ACTIVE--></th>
			</tr>
			<!--ROWS-->
		</table>
	</td></tr><tr><td>
		<table class="appbtnbar">
			<tr>
				<td width="5px">
					<nobr>
						<a href="indesignservers.php?action=add">
							<img src="../../config/images/add_16.gif" title="<!--RES:IDS_NEW_SERVER-->"/>
							<!--RES:IDS_NEW_SERVER-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td></td> <!-- trick: used fill button bar to far right -->
			</tr>
		</table>
	</td></tr></table>
	<!--WARNING-->
</td></tr></table>