<style>
#pup {
  position:absolute;
  z-index:200; /* always on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 8pt;
}
</style>

<script src="../../server/jquery/nhpup_1.1.js"></script>

<script language="javascript" type="text/javascript">
<!--
	function init()
	{
		// init numeric field "Refresh" (auto-refresh interval in seconds)
		var refreshObject = document.getElementById('refreshInt');
		refreshObject.value = sessionStorage.getItem('idsjobsrefresh');
		if ( refreshObject.value && refreshObject.value > 0 ) {
			setTimeout('location.reload(true);',refreshObject.value*1000);
		}
	}
// -->
</script>

<form id="params" style="margin-bottom:0; margin-top:0;">

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar" width="100%">
		<tr>
			<td width="5px"><img class="apptitleicon" src="../../config/images/ids_jobs_32.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:IDS_SERVER_JOBS--></span></td>
			<td valign="middle" align="right"><a href="indesignservers.php"><img src="../../config/images/ids_overview_32.gif" title="<!--RES:IDS_SERVER_OVERVIEW-->" border="0" width="32" height="32"></a></td>
			<td valign="middle" align="right"><a href="indesignserverjobs.php"><img src="../../config/images/ref_32.gif" border="0" title="<!--RES:ACT_REFRESH-->" width="32" height="32"/></a></td>
			<td valign="middle" align="right">
				<!--RES:ACT_REFRESH-->:<br/>
				<input id="refreshInt" style='width:30px' onChange="sessionStorage.setItem('idsjobsrefresh', this.value); setTimeout('location.reload(true);',this.value*1000)"
					title="<!--RES:IDS_AUTOREFRESH_INFO-->"/>
			</td>
		</tr>
	</table>

	<!-- app body -->
	<table class="listframe" width="100%"><tr><td>
		<table class="listpane">
			<tr>
				<th><!--RES:IDS_INDSERVER--></th>
				<th><!--RES:OBJ_VERSION--></th>
				<th><!--RES:IDS_TOTAL_JOBS--></th>		
				<th><!--RES:IDS_CURRENT_JOB--></th>
				<th><!--RES:IDS_STARTED_AT--></th>
				<th><!--RES:ISS_ACTIVE--></th>
			</tr>
		<!--SERVERS-->
		</table>
		</td></tr>
	</table> 
	
	<!-- limit query -->
	<table class="formbody" width="100%">
		<tr><td>
			<!--RES:IDS_INDSERVER-->:
			<select name="idsjobs_searchserver" onchange="submit();">
				<!--PAR:IDS_SERVER_OPTIONS-->
			</select>
		</td><td>
			<!--RES:SVR_JOBSTATUS-->:
			<select name="idsjobs_searchstatus" onchange="submit();">
				<!--PAR:JOB_STATUS_OPTIONS-->
			</select>
		</td><td>
			<!--RES:IDS_JOB_PRIO-->:
			<select name="idsjobs_searchprio" onchange="submit();">
				<!--PAR:JOB_PRIO_OPTIONS-->
			</select>
		</td><td>
			<!--RES:IDS_QUEUED_SINCE-->:
			<select name="idsjobs_searchsince" onchange="submit();">
				<!--PAR:QUEUED_SINCE_OPTIONS-->
			</select>
		</td></tr>
	</table>

	<!-- jobs -->
	<table class="listframe" width="100%"><tr><td>
		<table id="jobs" class="listpane">
			<tr>
				<th><!--RES:IDS_JOB--></th>
				<th><!--RES:OBJECT--></th>
				<th><!--RES:IDS_INDSERVER--></th>
				<th><!--RES:IDS_QUEUED_SINCE--></th>
				<th><!--RES:IDS_PICKUP_FROM--></th>
				<th><!--RES:IDS_STARTED_AT--></th>
				<th><!--RES:IDS_FINISHED_AT--></th>
				<th><!--RES:SVR_ATTEMPTS--></th>
				<th><!--RES:SVR_JOBSTATUS--></th>
				<th><!--RES:SVR_JOBCONDITION--></th>
				<th><!--RES:SVR_JOBPROGRESS--></th>
				<th><!--RES:IDS_JOB_PRIO--></th>
				<th>&nbsp;</th>	<!-- logfile -->		
				<th>&nbsp;</th>	<!-- restart job -->
				<th>&nbsp;</th>	<!-- remove job -->
			</tr>
			<!--JOBS-->
		</table>
	</td></tr></table>

</td></tr></table>
</form>

<script language="javascript" type="text/javascript">
<!--
	init();
-->
</script>
