<script language="JavaScript">

function doUpdate()
{
	var f = document.forms.idsform;
	f.action.value = "update";
	f.submit();
	// return false to prevent a second submit (on IE)
	return false;
}

function doAutoDetectVer()
{
	var f = document.forms.idsform;
	f.action.value = "autodetectversion";
	f.submit();
}

function doDelete()
{
	if( confirm('<!--RES:IDS_CONFIRM_DELETE-->') ) {
		var f = document.forms.idsform;
		f.action.value = "delete";
		f.submit();
		return true;
	}
	return false;
}

</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/admin.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:IDS_MAINTENANCE--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form name="idsform" action="indesignservers.php" method="post">
		<table class="formframe"><tr><td>
			<table class="formbody">
				<tr><td><!--RES:IDS_HOSTNAME--></td><td><!--VAR:HOSTNAME--></td></tr>
				<tr><td><!--RES:IDS_PORTNUMBER--></td><td><!--VAR:PORTNUMBER--></td></tr>
				<tr><td><!--RES:ACT_APPLICATION_VERSION--></td><td><!--VAR:IDSVERSION-->
					<a href="javascript:doAutoDetectVer()">
						<img src="../../config/images/record_16.gif" title="<!--RES:IDS_AUTO_DETECT_VERSION-->"/>
					</a>
				</td></tr>
				<tr><td><!--RES:OBJ_DESCRIPTION--></td><td><!--VAR:DESCRIPTION--></td></tr>
				<tr><td><!--RES:ISS_ACTIVE--></td><td><!--VAR:ACTIVE--></td></tr>
				<tr>
					<td valign="top"><!--RES:IDS_PRIO--></td>
					<td>
						<!--VAR:PRIO1--><br/>
						<!--VAR:PRIO2--><br/>
						<!--VAR:PRIO3--><br/>
						<!--VAR:PRIO4--><br/>
						<!--VAR:PRIO5-->
					</td>
				</tr>
				<tr><td colspan="2"><font color="#ff0000"><i><!--ERROR--></i></font></td></tr>
			</table>
		</td></tr><tr><td>
			<table class="formbtnbar">
				<tr>
					<td>
						<input type="submit" name="update" value="<!--RES:BUT_UPDATE-->" onClick="return doUpdate();"/>
						<input type="submit" <!--DISABLE_DEL_BTN--> name="delete" value="<!--RES:BUT_DELETE-->" onClick="return doDelete();" />
						<input type="hidden" name="action" value=""/>
					</td>
				</tr>
			</table>
		</td></tr></table>		
		<!--VAR:HIDDEN-->
	</form>
	<br/>

	<!--DETAILS-->
	<a href="indesignservers.php">
		<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
	</a>

</td></tr></table>
