<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/log.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:MNU_LOG--> - <!--RES:OBJ_DETAILS-->: <!--OBJNAME--></span></td>
		</tr>
	</table>

	<table class="formframe" width="50%"><tr><td>
		<table class="infobody">
			<tr>
				<td class="infoname"><!--RES:PUBLICATION--></td>
				<td class="infovalue"><!--OBJPUB--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:ISSUE--></td>
				<td class="infovalue"><!--OBJISS--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:SECTION--></td>
				<td class="infovalue"><!--OBJSEC--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:EDITION--></td>
				<td class="infovalue"><!--OBJEDITION--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:STATE--></td>
				<td class="infovalue"><!--OBJSTA--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:OBJ_ID--></td>
				<td class="infovalue"><!--OBJID--></td>
			</tr>
			<tr>
				<td class="infoname"> <!--RES:OBJ_TYPE2--> </td>
				<td class="infovalue"><!--OBJTYPE--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:OBJ_VERSION--></td>
				<td class="infovalue"><!--OBJVERSION--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:ACT_ROUTE_TO--></td>
				<td class="infovalue"><!--OBJROUTE--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:PARENT--></td>
				<td class="infovalue"><!--OBJPARENT--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:RENDITION--></td>
				<td class="infovalue"><!--OBJRENDITION--></td>
			</tr>
			<tr>
				<td class="infoname"><!--RES:LOCK--></td>
				<td class="infovalue"><!--OBJLOCK--></td>
			</tr>
		</table>
	</td></tr></table>
</td></tr></table>
