	<tr bgcolor="#DDDDDD" onmouseOver="this.bgColor='#FF9342';" onmouseOut="this.bgColor='#DDDDDD';">
		<td width="2%"><!--CHKBOX--></td>
		<td width="10%"  onClick="popUp('loginfo.php?id=<!--ID-->');"><!--USER--></td>
		<td width="12%" onClick="popUp('loginfo.php?id=<!--ID-->');"><!--SERVICE--></td>
		<td width="12%" onClick="popUp('loginfo.php?id=<!--ID-->');"><!--IP--></td>
		<td width="12%" onClick="popUp('loginfo.php?id=<!--ID-->');"><!--DATE--></td>		
		<td width="12%" onClick="popUp('loginfo.php?id=<!--ID-->');"><!--OBJECT--></td>
		<td width="12%" onClick="popUp('loginfo.php?id=<!--ID-->');"><!--PUBLICATION--></td>
		<td width="12%" onClick="popUp('loginfo.php?id=<!--ID-->');"><!--ISSUE--></td>
		<td width="12%" onClick="popUp('loginfo.php?id=<!--ID-->');"><!--SECTION--></td>
		<td width="12%" onClick="popUp('loginfo.php?id=<!--ID-->');"><!--VERSION--></td>
		<!--DELETEOBJ-->
	</tr>