<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/prtpv_32.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_MTP_MAINTENANCE--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form action="mtpsetup.php" method="post">
	<table class="formframe" width="50%"><tr><td>
		<table class="formbody"><tr><td>
			<tr>
				<td><!--RES:PUBLICATION--></td>
				<td><!--PUB_INPUT--></td>
			</tr>
			<tr>
				<td><!--RES:ISSUE--></td>
				<td><!--ISS_INPUT--></td>
			</tr>
		</td></tr></table>
	</td></tr></table>
	<br/>
	<font color="red"><!--ERROR_MSG--></font>
	
	<table class="listpane"><tr><td>
		<!--ROWS-->
		<!--VIEW-->
	</td></tr></table>

	<table class="listbtnbar"><tr><td>
		<!--SUBMIT-->
	</td></tr></table>
	
	</form>
	<p><font color="red">Current MadeToPrint implementation is deprecated. It will be replaced by a dedicated server plug-in from Enteprise Server 10.6.0 onwards.</font></p>
</td></tr></table>
