<script language="javascript">

function mydelete()
{
		if(confirm("<!--RES:ACT_SURE_DELETE_QUERY-->"))
		{
			document.frmnqs.vdelete.value='Delete';
			return true;
		}
		else
		{
		return false;
		}
}

function myupdate()
{
	document.frmnqs.vupdate.value='Update';
	return true;
}

function check()
{
 	if (document.frmnqs.query.value.length>=1)
	{
			if(document.frmnqs.vupdate.value=='')
			{
				document.frmnqs.vupdate.value='Update';
				return true;
			}
			else
			{
				document.frmnqs.vupdate.value='Update';
				return true;
			}

	}
	else
	{
		alert("<!--RES:ACT_ENTER_QUERY-->");
		return false;
	}

}

</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/namedqueries.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_NAMED_QUERIES--></span></td>
		</tr>
	</table>

	<form action="namedqueries.php" method="post" name="frmnqs" onSubmit="return check()">
	<table class="formframe"><tr><td>
		<table class="formbody">
			<tr><td><!--RES:QRY_QUERY--></td><td><!--VAR:QUERY--> <font color="#ff0000"><i><!--ERROR--></i></font></td></tr>
			<tr><td><!--RES:OBJ_COMMENT--></td><td><!--VAR:COMMENT--></td></tr>
			<tr><td><!--RES:QRY_INTERFACE--></td><td><!--VAR:INTERFACE--></td></tr>
			<tr><td><!--RES:QRY_SQL--></td><td><!--VAR:SQL--></td></tr>
			<tr><td><!--RES:QRY_ACCESS--></td><td><!--VAR:ACCESS--></td></tr>
		</table>
	</td></tr><tr><td>
		<table class="formbtnbar">
			<td>
				<input type="submit" name="bt_update" value="<!--RES:BUT_UPDATE-->" onClick="return myupdate()">
				<input type="submit" name="bt_delete" value="<!--RES:BUT_DELETE-->" onClick="return mydelete()">
			</td>
		</table>
	</td></tr></table>
	<input type="hidden" name="vupdate" value="">
	<input type="hidden" name="vdelete" value="">
	</form>
	<br/>
	
	<a href="namedqueries.php">
		<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
	</a>
</td></tr></table>

