<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/namedqueries.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_OVERVIEW_QUERIES--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<table class="listframe" width="100%"><tr><td>
		<table class="listpane"><tr><td>
			<tr>
				<th width="100"><!--RES:QRY_QUERY--></th>
				<th><!--RES:OBJ_COMMENT--></th>
			</tr>
			<!--ROWS-->
		</td></tr></table>
	</td></tr></table>
	
	<table class="appbtnbar" width="100%"><tr><td>
		<tr>
			<td>
				<nobr>
					<a href="namedqueries.php?new=1">
						<img src="../../config/images/add_16.gif" title="<!--RES:ACT_NEW_QUERY-->"/>
						<!--RES:ACT_NEW_QUERY-->
					</a>
					&nbsp;
				</nobr>
			</td>
			<td></td> <!-- trick: used fill button bar to far right -->
		</tr>
	</td></tr></table>	
	
</td></tr></table>