<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="PRAGMA" content="NO-CACHE" />
		<title>WoodWing Enterprise - <!--RES:ACT_LOGIN--></title>
	</head>
	<body>
		<table align="center" bordercolor="#FF7915" border="1" cellspacing="2" cellpadding="3" width="400" height="300">
			<tr>
				<td align="center" colspan="2">
					<h2>WoodWing Enterprise - <!--RES:ACT_SECURITY--></h2>
					<h3><font color="#FF7915">WoodWing Software</font></h3>
					<img src="../../config/images/group_32.gif" title="<!--RES:ACT_USERS_LOGIN-->" />
					<h3><font color="#FF7915"><!--MESSAGE--></font></h3>
				</td>
			</tr>
			<tr>
				 <td><!--RES:ERR_NO_AUTHORIZATION--></td>
			</tr>
			<tr>
				<td align="right" colspan="2"><a href="javascript:history.back(-1)"><!--RES:ACT_BACK--></a>&nbsp;&nbsp;</td>
			</tr>
		</table>
		<input type="hidden" name="login" value="login"/>
	</body>
</html>
