<script language="JavaScript">
function SetAllCheckBoxes(FormName, FieldName, CheckValue)
{
	if(!document.forms[FormName])
		return;
	var objCheckBoxes = document.forms[FormName].elements[FieldName];
	if(!objCheckBoxes)
		return;
	var countCheckBoxes = objCheckBoxes.length;
	if(!countCheckBoxes)
		objCheckBoxes.checked = CheckValue;
	else
		// set the check value for all check boxes
		for(var i = 0; i < countCheckBoxes; i++)
			objCheckBoxes[i].checked = CheckValue;
}

function DeleteSelected( sConfirmMessage )
{
	var isChecked;
	isChecked=false;
	var cid="";
	if( confirm( sConfirmMessage ) )
	{
		len = document.forms.SCE_PostForm.chkobj.length;
		if(len>1)
		{
			for (i=0;i<len;i++)
			{
				if (document.forms.SCE_PostForm.chkobj[i].checked)
				{
					cid=cid+document.forms.SCE_PostForm.chkobj[i].value+",";
					isChecked=true;
				}
			}
		}
		else
		{
			if (document.forms.SCE_PostForm.chkobj.checked)
			{
				cid=cid+document.forms.SCE_PostForm.chkobj.value+",";
				isChecked=true;
			}
		}
		if(!isChecked)
		{
			alert("<!--RES:ACT_TICK_CHECKBOXES-->");
		}
		else
		{
			var f = document.forms.SCE_PostForm;
			f.del.value = cid;
			f.submit();
		}
	}
}

function UnlockSelected( sConfirmMessage )
{
	var isChecked;
	isChecked=false;
	var ulockid="";
	if( confirm( sConfirmMessage ) )
	{
		len = document.forms.SCE_PostForm.chkobj.length;
		if(len>1)
		{
			for (i=0;i<len;i++)
			{
				if (document.forms.SCE_PostForm.chkobj[i].checked)
				{
					ulockid=ulockid+document.forms.SCE_PostForm.chkobj[i].value+",";
					isChecked=true;
				}
			}
		}
		else
		{
			if (document.forms.SCE_PostForm.chkobj.checked)
			{
				ulockid=ulockid+document.forms.SCE_PostForm.chkobj.value+",";
				isChecked=true;
			}
		}
		if(!isChecked)
		{
			alert("<!--RES:ACT_TICK_CHECKBOXES-->");
		}
		else
		{
			var f = document.forms.SCE_PostForm;
			f.unlock.value = ulockid;
			f.submit();
		}
	}
}

function popUp(URL)
{
	document.location.href=URL;
}

function popUpThumb(URL)
{
	day = new Date();
	id = day.getTime();
	eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=620,height=620,left = 150,top = 0');");

}

function Delete( id, sConfirmMessage )
{
	if( confirm( sConfirmMessage ) )
	{
		var f = document.forms.SCE_PostForm;
		f.del.value = id;
		f.submit();
	}
}

function Toggle(item, sz) {
	for (i=1;i<=sz;i++) {
		obj=document.getElementById(item+'-'+i);
		visible=(obj.style.display!="none")
		key=document.getElementById("x" + item);
		if (visible) {
			key.innerHTML="<img src='../../config/images/expand.gif' border=0>";
			obj.style.display="none";
		} else {
			key.innerHTML="<img src='../../config/images/collapse.gif' border=0>";
			try {
				obj.style.display="inline";
				obj.style.display="table-row";		// firefox
			} catch(error) {
			}
		}
	}
}
</script>

<p style="color:red; font-size:small">Please note that this application has been deprecated and can be removed by WoodWing at any moment without notice.</p>
<table class="appframe"><tr class="text"><td>
	<form action="nqbrowse.php" method="post" name="SCE_PostForm">
	
		<table class="formframe" width="610px"><tr><td>
			<table class="formbody">
				<tr>
					<td width="1px"></td>
					<td>
						<!--NAMEDQUERIES-->
					</td>
				</tr>
				<!--PARAMETERS-->
				<tr>
					<td width="1px">
					<td colspan="2"><!--THUMB--><!--RES:OBJ_THUMBNAIL--></td>
					<td align=right>
						<input type="image" src="../../config/images/srch_32.gif" value="<!--RES:ACT_SUBMIT-->" title="<!--RES:ACT_SEARCH-->" width="32" height="32"/>
						&nbsp;
						<a href="nqbrowse.php?nq=0">
							<img src="../../config/images/undo_32.gif" border="0" title="<!--RES:BUT_RESET-->" width="32" height="32"/>
						</a>
					</td>
				</tr>
			</table>
		</td></tr></table>			

		<br/>
		<table class="listpane">
			<tr bgcolor="#cccccc"><!--RESULTTITELS--></tr>
			<!--RESULTOBJECTS-->
		</table>

		<div style="visibility:<!--LISTBUTTONBAR-->">
		<table class="appbtnbar">
			<tr>
				<td width="5px">
					<nobr>
						<a href="javascript:UnlockSelected( '<!--RES:ACT_UNLOCK_SELECTED-->');" title="<!--RES:ACT_UNLOCK_SELECTED-->">
							<img src="../../config/images/new_16.gif" border="0" title="<!--RES:ACT_UNLOCK_SELECTED-->"><!--RES:ACT_UNLOCK_SELECTED-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td width="5px">
					<nobr>
						<a href="javascript:DeleteSelected( '<!--RES:ACT_DELETE_SELECTED-->');" title="<!--RES:ACT_DELETE_SELECTED-->">
							<img src="../../config/images/trash_16.gif" border="0" title="<!--RES:ACT_DELETE_SELECTED-->"><!--RES:ACT_DELETE_SELECTED-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td width="5px">
					<nobr>
						<a href="javascript:SetAllCheckBoxes('SCE_PostForm','chkobj',true)" title="<!--RES:ACT_SELECT_ALL_ROWS-->">
							<img src="../../config/images/opts_16.gif" border="0" title="<!--RES:ACT_SELECT_ALL_ROWS-->"><!--RES:ACT_SELECT_ALL-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td width="5px">
					<nobr>
						<a href="javascript:SetAllCheckBoxes('SCE_PostForm','chkobj',false)" title="<!--RES:ACT_UNSELECT_ALL_ROWS-->">
							<img src="../../config/images/cancl_16.gif" border="0" title="<!--RES:ACT_UNSELECT_ALL_ROWS-->"><!--RES:ACT_UNSELECT_ALL-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td></td> <!-- trick: used fill button bar to far right -->
			</tr>
		</table>
		</div>

		<!--HIDDENFORMPARAMS-->
	</form>
</td></tr></table>