<script language="javascript">

function confirmDelete()
{
	if( confirm( "<!--RES:ACT_SURE_DELETE_DEVICE-->" ) ) {
		return true;
	}
	return false;
}

</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/outputdevice.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:OUTPUT_DEVICES--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form action="outputdevices.php">
	<table><tr><td>
		<table class="listframe"><tr><td>
			<table class="listpane">
				<tr>
					<th width="150"><!--RES:OBJ_NAME--></th>
					<th width="150"><!--RES:OBJ_DESCRIPTION--></th>
					<th><!--RES:LIS_ORDER--></th></th>
				</tr>
				<!--ROWS-->
			</table>
		</td></tr></table>
	</td></tr><tr><td>	
		<table class="appbtnbar">
			<tr>
				<td width="5px">
					<nobr>
						<a href="outputdevice.php">
							<img src="../../config/images/add_16.gif" title="<!--RES:ACT_NEW-->"/>
							<!--RES:ACT_NEW-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td width="5px">
					<nobr>
						<a href="javascript:document.forms[0].submit();">
							<img src="../../config/images/ref_16.gif" border="0" title="<!--RES:ACT_REORDER-->"/>
							<!--RES:ACT_REORDER-->
						</a>
					</nobr>
				</td>
				<td></td> <!-- trick: used fill button bar to far right -->
			</tr>
		</table>
	</td></tr></table>
	</form>

</td></tr></table>
