<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/outputdevice.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_DEVICE_MAINTENANCE--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form action="outputdevice.php" method="post" name="formDevice">


	<table class="formframe">
	<tr><td>
		<table class="formbody">
			<tr style="display:none"><td><!--RES:OBJ_ID--></td><td><!--PAR:ID--></td></tr>
			<tr><td><!--RES:OBJ_NAME-->*</td><td><!--PAR:NAME--></td></tr>
			<tr><td><!--RES:OBJ_DESCRIPTION--></td><td><!--PAR:DESCRIPTION--></td></tr>
		</table></td></tr>

		<tr><td>
		<table class="formbody">
		<tr><td colspan="2">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr><td valign="top">
					<table border="0">
						<tr><td><!--RES:DEVICE_LANDSCAPEWIDTH-->*</td><td><!--PAR:LANDSCAPEWIDTH--></td></tr>
						<tr><td><!--RES:DEVICE_LANDSCAPEHEIGHT-->*</td><td><!--PAR:LANDSCAPEHEIGHT--></td></tr>
						<tr><td><!--RES:DEVICE_PORTRAITWIDTH-->*</td><td><!--PAR:PORTRAITWIDTH--></td></tr>
						<tr><td><!--RES:DEVICE_PORTRAITHEIGHT-->*</td><td><!--PAR:PORTRAITHEIGHT--></td></tr>
			
						<tr><td><!--RES:DEVICE_PREVIEWQUALITY--></td><td><!--PAR:PREVIEWQUALITY--></td></tr>
						<tr><td><!--RES:DEVICE_LANDSCAPELAYOUTWIDTH-->*</td><td><!--PAR:LANDSCAPELAYOUTWIDTH--></td></tr>
						<tr><td><!--RES:DEVICE_PIXELDENSITY-->*</td><td><!--PAR:PIXELDENSITY--></td></tr>
						<tr><td><!--RES:DEVICE_PNGCOMPRESSION--></td><td><!--PAR:PNGCOMPRESSION--></td></tr>
						<tr><td><!--RES:DEVICE_TEXTVIEWPADDING--></td><td><!--PAR:TEXTVIEWPADDING--></td></tr>
					</table>
				</tr>
			</table>
		</td></tr>
		</table></td></tr>

		<tr><td>
		<i>* <!--RES:OBJ_MANDATORY--></i>
	</td></tr><tr><td>
		<table class="formbtnbar">
			<tr>
				<td align="right">
					<input type="submit" name="bt_update" value="<!--PAR:SUBMIT_BUTTON_TEXT-->"/>
					<!--PAR:MODE-->
				</td>
			</tr>
		</table>
	</td></tr></table>
	</form>
	<br/>
	<a href="outputdevices.php">
		<img src="../../config/images/back_32.gif" border="0" title="<!--RES:ACT_BACK-->" width="32" height="32"/>
	</a>

</td></tr></table>
