<script language="JavaScript">
	function popwin(url,w,h)
	{
		window.open (url,'_blank','top=0,left=0,screenX=0,screenY=0,toolbar=no,location=no,directories=no,status=no,scrollbars=no,resizable=no,copyhistory=no,width='+w+',height='+h);
	}
	function popUp(URL) {
		day = new Date();
		id = day.getTime();
		eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=750,height=700,left = 150,top = 0');");
	}
	
	function popUpThumb(URL){
		day = new Date();
		id = day.getTime();
		eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=620,height=620,left = 150,top = 0');");
	}
</script>

<table cellspacing="20" cellpadding="0" width="100%" height="100%" bgcolor="#ffffff" border="0">
	<!--DWLayoutTable-->
	<tr>
		<td width="774" height="100%" valign="top" class="text">
		<form action="weboverview.php" method="post">
			<table border="0" cellspacing="2" cellpadding="3" width="640" class="text">
				<tr bgcolor="#cccccc">
					<td> <!--RES:PUBLICATION--> </td>
					<td> <!--RES:ISSUE--> </td>
					<td> <!--RES:ACT_MODE--> </td>
					<td> <!--RES:OBJ_FIRST_PAGE--> </td>
					<td colspan="2"> <!--RES:OBJ_LAST_PAGE--> </td>
				</tr>
				<tr>
					<td width="20%">
						<!--COMBOPUB-->
					</td>
					<td width="20%">
						<!--COMBOISS-->
					</td>
					<td width="20%">
						<!--COMBOMODE:Preview, Status-->
					</td>
					<td width="10%">
						<!--INPUTFIRST-->
					</td>
					<td width="10%">
						<!--INPUTLAST-->
					</td>
					<td>
						<input type="submit" value="<!--RES:ACT_VIEW-->"/>
					</td>
				</tr>
			</table>
			</form>
			<br/>
			<table border="0" cellspacing="20" ><!--IMAGES--></table>
		</td>
	</tr>
</table>
