<table border="0" cellspacing="2" cellpadding="4" width="500" class="text">

	<!-- page title -->
	<tr><td colspan="4"><b><!--RES:OBJ_PAGE--> <!--PAGE_SEQUENCE-->:</b></td></tr>
	
	<!-- page property header -->
	<tr bgcolor="#cccccc">
		<td width="25%"><b> <!--RES:OBJ_PAGE_NUMBER--> </b></td>
		<td width="25%"><b> <!--RES:OBJ_PAGE_ORDER--> </b></td>
		<td width="25%"><b> <!--RES:OBJ_WIDTH--> </b></td>
		<td width="25%"><b> <!--RES:OBJ_HEIGHT--> </b></td>
		<td width="25%"><b> <!--RES:OBJ_PDF--> </b></td>
	</tr>
	
	<!-- page properties -->
	<tr bgcolor="#DDDDDD">
		<td><!--PAGE_NUMBER--></td>
		<td><!--PAGE_ORDER--></td>
		<td><!--PAGE_WIDTH--></td>
		<td><!--PAGE_HEIGHT--></td>
		<td><!--PAGE_PDF--></td>
	</tr>
	
	<!-- page preview -->
	<tr bgcolor="#DDDDDD">
		<td colspan="5"><!--PAGE_PREVIEW--></td>
	</tr>

</table>
<br/>