<h1 style="color:red">Please note that this application has been deprecated and can be removed by WoodWing at any moment without notice.</h1>
<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/users.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:MY_PROFILE--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form action="password.php" method="post">
	<table class="formframe"><tr><td>
		<table class="formbody">
			<tr><td colspan="2" width="270px"><font color="#ff0000"><!--ERROR--></font></td></tr>
			<tr><td colspan="2"><h3><!--RES:PSW_CHANGE--></h3></td></tr>
			<tr>
				<td style="width: 100px;"><!--RES:PSW_CUR--></td>
				<td style="width: 100px;" align="right"><input type="password" name="oldPassword" style="width: 90px;"/></td>
			</tr>
			<tr>
				<td><!--RES:PSW_NEW--></td>
				<td align="right"><input type="password" name="newPass_1" style="width: 90px;"/></td>
			</tr>
			<tr>
				<td><!--RES:PSW_VERIFY_NEW--></td>
				<td align="right"><input type="password" name="newPass_2" style="width: 90px;"/></td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr><td colspan="2"><h3><!--RES:ACT_CHANGELANGUAGE--></h3></td></tr>
			<tr>
				<td><!--RES:LAN_LANGUAGE--></td>
				<td align="right"><select name="language"><%LANGUAGES%></select></td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
		</table>
	</td></tr><tr><td>
		<table class="formbtnbar">
			<tr>		
				<td colspan="2" align="right">
					<input type="reset" value="<!--RES:BUT_RESET-->"/>&nbsp;
					<input type="submit" value="<!--RES:BUT_CHANGE-->" name="submit"/>
					<!--HIDDEN_FORM_PARAMS-->
				</td>
			</tr>
		</table>
	</td></tr></table>
	</form>
	
</td></tr></table>
