<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/profile_32.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_PROFILE_OVERVIEW--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form action="profiles.php">
	<table class="listframe" width="100%"><tr><td>
		<table class="listpane"><tr><td>
			<tr>
				<th><!--RES:ACT_PROFILE--></th>
				<th><!--RES:LIS_ORDER--></th>
				<!--HEADER-->
			</tr>
			<!--ROWS-->
		</table>
	</td></tr></table>
	</form>
	
	<form>
	<table class="appbtnbar">
		<tr>
			<td width="5px">
				<nobr>
					<a href="hpprofiles.php">
						<img src="../../config/images/add_16.gif" title="<!--RES:ACT_NEW-->"/>
						<!--RES:ACT_NEW-->
					</a>
					&nbsp;
				</nobr>
			</td>
			<td width="5px">
				<nobr>
					<a href="javascript:document.forms[0].submit();">
						<img src="../../config/images/ref_16.gif" border="0" title="<!--RES:ACT_REORDER-->"/>
						<!--RES:ACT_REORDER-->
					</a>
					&nbsp;
				</nobr>
			</td>
			<td></td> <!-- trick: used fill button bar to far right -->
		</tr>
	</table>
	</form>
	
</td></tr></table>
