<br/>
<table class="listframe" width="100%"><tr><td>
	<table class="listpane">
		<tr>
			<tr><td colspan="2"><font color="#ff0000"><b><!--ERROR--></b></font></td></tr>
			<th width="100"><!--RES:OBJ_NAME--></th>
			<th width="100"><!--RES:OBJ_DISPLAY_NAME--></th>
			<th width="100"><!--RES:OBJ_CATEGORY--></th>
			<th width="100"><!--RES:OBJ_TYPE2--></th>
			<th width="100">&nbsp;</th>
		</tr>
		<!--ROWS-->
	</table>
</td></tr></table>

<table class="appbtnbar" width="100%"><tr><td>
	<tr>
		<td>
			<!--VAR:ADD_CUSTUM_PROP_LNK-->
		</td>
	</tr>
</table>
