<script language="JavaScript">

function Message(message)
{
	alert(message);
}

function popUp(URL)
{
	day = new Date();
	id = day.getTime();
	eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=750,height=700,left = 150,top = 0');");
}

function ComboBoxChanger(ID) 
{
	radio = eval("document.remove.radio" + ID + "[0]");
	if (radio.checked) {
		//alert("Delete was checked");
		newSection = eval("document.remove.newSection" + ID);
		newSection.disabled = true;
	} else {
		//alert("Move was selected");
		newSection = eval("document.remove.newSection" + ID);
		newSection.disabled = false;
	}
}

function AreYouSure(message)
{
	var ready = true;
	var maxCount = document.remove.amount.value;
	for(i = 0; i < maxCount; i++){
		radio = eval("document.remove.radio" + i + "[0]");
		if (!radio.checked) {
			selected = eval("document.remove.newSection" + i);
			newSection = eval("document.remove.newSection" + i + ".options[" + selected.selectedIndex + "].text");
			if (newSection.length < 1) {
				ready = false;
				i = maxCount;
			}
		}
	}

	if (ready == true) {
		var section = document.remove.Section.options[document.remove.Section.selectedIndex].text;
		var publication = document.remove.Publication.options[document.remove.Publication.selectedIndex].text;
		var msg = message + " " + publication + " - " + section;
		var sure = confirm(msg);
		if (sure == true) {
			document.remove.del.value = true;
			document.remove.submit();
		}
	} else {
		alert("<!--RES:ACT_SELECT_SECTION_FOR_UNSELECTED_OBJECTS-->");
		return;
	}
}
</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/trash_32.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_REMOVE_SECTION--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<form name="remove" action="removesection.php" method="post">
	<table class="listframe"><tr><td>
		<table class="listpane">
			<tr>
				<th><!--RES:PUBLICATION--></th>
				<th><!--RES:SECTION--></th>
				<th><!--RES:OBJ_TYPE--></th>
			</tr>
			<tr>
				<td valign="top">
					<!--COMBOPUB-->
				</td>
				<td valign="top">
					<!--COMBOSECT-->
				</td>
				<td valign="top">
					<!--COMBOOBJTYPE-->
				</td>
			</tr>
		</table>
	</td></tr></table>
	<br/>
	<!--CONTENT-->
	</form>

</td></tr></table>
