<table class="appframe" witdh="100%"><tr><td>

	<table cellpadding="30px" width="600px">
		<tr class="menuicons">
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
				<a href="../admin/searchindexing.php">
					<img src="../../config/images/searchsvr_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:ACT_SEARCH_SERVER--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
				<a href="../admin/adobedpsissues.php">
					<img src="../../config/images/adobedps_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:DPS_ISSUES--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%">
				<a href="../admin/datasources.php">
					<img src="../../config/images/datasource_32.png" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:DS_DATASOURCE--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%">
				<a href="../admin/mtpsetup.php">
					<img src="../../config/images/prtpv_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MTP_SETUP--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="1px"> <!-- trick to left align when some icons above are hidden -->
			</td>
		</tr>
		<!-- admin web apps provided by server plug-ins -->
		<!--SEC:ADMINWEBAPPROW>-->
		<tr class="menuicons">
			<!--SEC:ADMINWEBAPP>-->
			<td valign="top" align="center" width="25%">
				<a href="<!--PAR:WEBAPP_WEBAPPURL-->">
					<img src="<!--PAR:WEBAPP_ICONURL-->" border="0" width="32" height="32"/>
					<br/><nobr><!--PAR:WEBAPP_ICONCAPTION--></nobr>
				</a>
			</td>
			<!--SEC:<ADMINWEBAPP-->			
			<td valign="top" align="center" width="1px"> <!-- trick to left align when some icons above are hidden -->
			</td>
		</tr>
		<!--SEC:<ADMINWEBAPPROW-->
	</table>

	<table style="padding-left:30px; padding-right:30px; <!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->" width="600px">
		<tr>
			<td class="title" align="center">
				<hr/>
				<!--RES:SVR_SERVER_JOBS-->
			</td>
		</tr>
	</table>		
	<table cellpadding="30px" width="600px">
		<tr class="menuicons" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
			<td valign="top" align="center" width="25%">
				<a href="../admin/servers.php">
					<img src="../../config/images/server_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:SVR_SERVERS--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%">
				<a href="../admin/serverjobs.php">
					<img src="../../config/images/jobqueue_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MNU_SERVER_JOBS--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%">
				<a href="../admin/serverjobconfigs.php">
					<img src="../../config/images/jobconfig_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:MNU_SERVERJOB_CONFIGS--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%">
			</td>
		</tr>
	</table>		

	<table style="padding-left:30px; padding-right:30px; <!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->" width="600px">
		<tr>
			<td class="title" align="center">
				<hr/>
				<!--RES:IDS_SERVER_JOBS-->
			</td>
		</tr>
	</table>		
	<table cellpadding="30px" width="600px">
		<tr class="menuicons" style="<!--PAR:SHOW_FOR_SYS_ADMIN_ONLY-->">
			<td valign="top" align="center" width="25%">
				<a href="../admin/indesignservers.php">
					<img src="../../config/images/ids_overview_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:IDS_INDSERVERS--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%">
				<a href="../admin/indesignserverjobs.php">
					<img src="../../config/images/ids_jobs_32.gif" border="0" width="32" height="32"/>
					<br/><nobr><!--RES:IDS_SERVER_JOBS--></nobr>
				</a>
			</td>
			<td valign="top" align="center" width="25%">
			</td>
			<td valign="top" align="center" width="25%">
			</td>
		</tr>

	</table>
</td></tr></table>
