<script language="javascript">

	var lastSelectedPluginTr = null;
	var lastSelectedConnectorTr = null;
	
	function showPluginDetails( tr )
	{
		if( lastSelectedPluginTr != null ) { // clear background of previous selected plugin
			lastSelectedPluginTr.bgColor="#FFFFFF"; // white
		}
		lastSelectedPluginTr = tr; // remember last selection for next time
		tr.bgColor='#FF9342'; // // hightlight selection (orange)
		
		// show details of plugin by copying hidden data record into (visual) anchor point
		var plnDet = document.getElementById( tr.id + "_details" );
		var plnAnc = document.getElementById( "plugin_details_anchor" );
		var plnRec = plnDet.getElementsByTagName("div").item(0); // get <div> child to copy
		plnAnc.innerHTML = plnRec.innerHTML; 

		// clear connector details of previous plugin selection
		var connAnc = document.getElementById( "connector_details_anchor" );
		connAnc.innerHTML = "";

		// We have copied innerHTML (see above) in which unique ids are stored at tr elements...!!
		// So now there are TWO elements (connector rows) with same id which would lead into
		// row highlighting problems... so here we add "_listed" postfix to the copied rows
		// (that are actually shown to end users) to make the rows unique again.
		var trs = plnAnc.getElementsByTagName("tr");
		var i;
		for( i = 0; i < trs.length; i++ ) {
			var connTr = trs.item(i);
			if( connTr.id && connTr.id.length > 0 ) {
				connTr.id = connTr.id + "_listed";
			}
		}
		
		// get first connector id by parsing string "connector#123_firstofplugin"
		var firstConnId = plnRec.id.substring( plnRec.id.lastIndexOf("#")+1, plnRec.id.lastIndexOf("_") ); 
		if( firstConnId > 0 ) { // pre-select first connector of selected plugin
			var connTr = document.getElementById( "connector#" + firstConnId + "_listed" );
			showConnectorDetails( connTr );
		} else {
			lastSelectedConnectorTr = null;
		}
	}

	function showConnectorDetails( tr )
	{
		if( lastSelectedConnectorTr != null ) { // clear background of previous selected connector
			lastSelectedConnectorTr.bgColor="#FFFFFF"; // white
		}
		lastSelectedConnectorTr = tr; // remember last selection for next time
		tr.bgColor='#FF9342'; // // hightlight selection (orange)

		// get connector id by parsing string "connector#123_listed"
		var connId = tr.id.substring( tr.id.lastIndexOf("#")+1, tr.id.lastIndexOf("_") ); 

		// show details of connector by copying hidden data record into (visual) anchor point
		var connDet = document.getElementById( "connector#" + connId + "_details" );
		var connAnc = document.getElementById( "connector_details_anchor" );
		var connRec = connDet.getElementsByTagName("div").item(0); // get <div> child to copy
		connAnc.innerHTML = connRec.innerHTML;
	}
	
	function handlePluginAction( pluginId )
	{
		var frm = document.forms.PluginForm;
		frm.LastSelectedPluginId.value = 0;
		frm.LastSelectedConnId.value = 0;
		if( lastSelectedPluginTr ) { // parse "plugin#123"
			frm.LastSelectedPluginId.value = lastSelectedPluginTr.id.substring( lastSelectedPluginTr.id.lastIndexOf("#")+1, lastSelectedPluginTr.id.length );
			if( lastSelectedConnectorTr ) { // parse "connector#123"
				frm.LastSelectedConnId.value = lastSelectedConnectorTr.id.substring( lastSelectedConnectorTr.id.lastIndexOf("#")+1, lastSelectedConnectorTr.id.length );
			}
		}
		frm.ToggledPluginId.value = pluginId;
		frm.submit();
	}
	
	function postRegisterPlugins()
	{
		var frm = document.forms.PluginForm;
		frm.RegisterPlugins.value = 'true';
		frm.submit();
	}	
</script>

<table class="appframe"><tr class="text"><td>

<!-- app header -->
<table class="apptitlebar">
	<tr>
		<td><img class="apptitleicon" src="../../config/images/plugin_admin_32.gif"/></td>
		<td>&nbsp;<span class="apptitletext"><!--RES:PLN_SERVERPLUGINS--></span></td>
	</tr>
</table>

<!-- visual area; plugin browser -->
<form action="serverplugins.php" enctype="multipart/form-data" name="PluginForm" method="post">
	<table>
		<tr>
			<td valign="top" width="300">	
				<table class="listpane" style="white-space: nowrap;">
					<tr>
						<th></th> <!-- is active icon -->
						<th><!--RES:OBJ_NAME--></th>
						<th><!--RES:OBJ_VERSION--></th>
						<th></th> <!-- is system icon -->
					</tr>
					<!--PAR:PLUGIN_LISTED_RECORDSET>-->
					<tr id="plugin#<!--PAR:PLUGIN_ID-->" bgcolor="#FFFFFF" onclick="showPluginDetails(this);">
						<td><a href="javascript:handlePluginAction('<!--PAR:PLUGIN_ID-->');">
							<img src="../../config/images/<!--PAR:PLUGIN_ISACTIVE_ICON_SMALL-->" border=0 title="<!--PAR:PLUGIN_ISACTIVE_TITLE-->"/>
						</a></td>
						<td><!--PAR:PLUGIN_DISPLAYNAME--></td>
						<td><!--PAR:PLUGIN_VERSION--></td>
						<td><img src="../../config/images/<!--PAR:PLUGIN_ISSYSTEM_ICON-->" border=0 title="<!--PAR:PLUGIN_ISSYSTEM_TITLE-->"/></td>
					</tr>
					<!--<PAR:PLUGIN_LISTED_RECORDSET-->	
				</table>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td valign="top"> 
				<div id="plugin_details_anchor"></div>
				<div id="connector_details_anchor"></div>
			</td>
		</tr>
	</table>
	<input type="button" id="RegisterPluginsBtn" name="RegisterPluginsBtn" 
		value="<!--RES:PLN_REGISTER_ALL-->" onclick="javascript:postRegisterPlugins();" 
		title="<!--RES:PLN_CLICKTOREGISTER_ALL-->"/>
	<!-- hidden form params -->
	<input type="hidden" id="LastSelectedPluginId" name="LastSelectedPluginId" value="<!--FRM:LastSelectedPluginId-->"/>	
	<input type="hidden" id="LastSelectedConnId"   name="LastSelectedConnId"   value="<!--FRM:LastSelectedConnId-->"/>	
	<input type="hidden" id="ToggledPluginId"      name="ToggledPluginId"      value=""/>
	<input type="hidden" id="RegisterPlugins"      name="RegisterPlugins"      value=""/>
</form>

<!-- hidden area; data records -->

<!--PAR:PLUGIN_DETAILS_RECORDSET>-->
<div id="plugin#<!--PAR:PLUGIN_ID-->_details" 
		style="visibility:hidden; position:absolute; ">
	<div id="connector#<!--PAR:PLUGIN_FIRSTCONNECTOR-->_firstofplugin"> <!-- this child is taken to copy into visual area -->
		<table width="300">
			<tr>
				<td>
					<!-- sub header -->
					<table class="subtitlebar">
						<tr>
							<td valign="center"><a href="javascript:handlePluginAction('<!--PAR:PLUGIN_ID-->');">
								<img class="subtitleicon" src="../../config/images/<!--PAR:PLUGIN_ISACTIVE_ICON_BIG-->" border=0 title="<!--PAR:PLUGIN_ISACTIVE_TITLE-->"/></a></td>
							<td valign="center"><span class="subtitletext"><!--RES:PLN_SERVERPLUGIN--> - <!--PAR:PLUGIN_DISPLAYNAME--></span></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<font color="red"><b><!--PAR:PLUGIN_ERRORMSG--></b></font>
		<table class="infobody">
			<tr><td valign="top" class="infoname"><!--RES:OBJ_DESCRIPTION--></td><td class="infovalue"><!--PAR:PLUGIN_DESCRIPTION--></td></tr>
			<tr><td valign="top" class="infoname"><!--RES:OBJ_COPYRIGHT--></td><td class="infovalue"><!--PAR:PLUGIN_COPYRIGHT--></td></tr>
			<!--<tr><td valign="top" class="infoname"><!--RES:OBJ_VERSION--></td><td class="infovalue"><!--PAR:PLUGIN_VERSION--></td></tr>-->
			<!--<tr><td valign="top" class="infoname"><!--RES:OBJ_ID--></td><td class="infovalue"><!--PAR:PLUGIN_ID--></td></tr>-->
			<tr><td valign="top" class="infoname"><!--RES:PLN_UNIQUENAME--></td><td class="infovalue"><!--PAR:PLUGIN_NAME--></td></tr>
			<tr><td valign="top" class="infoname"><!--RES:OBJ_MODIFIED--></td><td class="infovalue"><!--PAR:PLUGIN_MODIFIED--></td></tr>
			<tr><td valign="top" class="infoname"><!--RES:OBJ_TYPE2--></td><td class="infovalue"><!--PAR:PLUGIN_ISSYSTEM_TITLE--></td></tr>
		</table>
		<br/>
		<h3><!--RES:PLN_CONNECTORS--></h3>
		<table class="listpane" width="250">
			<tr>
				<th></th> <!-- connector type icon -->
				<th><!--RES:QRY_INTERFACE--></th>
				<th><!--RES:OBJ_TYPE2--></th>
				<th><!--RES:PLN_RUNMODE--></th>
				<th><!--RES:WFL_PRIORITY--></th>
			</tr>
			<!--PAR:CONNECTOR_LISTED_RECORDSET#<!--PAR:PLUGIN_ID-->>-->
			<tr id="connector#<!--PAR:CONN_ID-->" bgcolor="#FFFFFF" onclick="showConnectorDetails(this);">
				<td><img src="../../config/images/<!--PAR:CONN_ICON_SMALL-->" border=0 title="<!--PAR:CONN_CLASSTYPE-->"/></td>
				<td><!--PAR:CONN_INTERFACE--></td>
				<td><!--PAR:CONN_TYPE--></td>
				<td><!--PAR:CONN_RUNMODE--></td>
				<td><!--PAR:CONN_PRIO--></td>
			</tr>
			<!--<PAR:CONNECTOR_LISTED_RECORDSET#<!--PAR:PLUGIN_ID-->-->
		</table>
	</div>
</div>
<!--<PAR:PLUGIN_DETAILS_RECORDSET-->

<!--PAR:CONNECTOR_DETAILS_RECORDSET>-->
<div id="connector#<!--PAR:CONN_ID-->_details" 
		style="visibility:hidden; position:absolute; ">
	<div> <!-- this child is taken to copy into visual area -->
		<br/>
		<table width="300">
			<tr>
				<td>
					<!-- sub header -->
					<table class="subtitlebar">
						<tr>
							<td><img class="subtitleicon" src="../../config/images/<!--PAR:CONN_ICON_BIG-->" title="<!--PAR:CONN_CLASSTYPE-->"/></td>
							<td>&nbsp;<span class="subtitletext"><!--RES:PLN_CONNECTOR--> - <!--PAR:CONN_INTERFACE--></span></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table class="infobody">
			<tr><td valign="top" class="infoname"><!--RES:QRY_INTERFACE--></td><td class="infovalue"><!--PAR:CONN_INTERFACE--></td></tr>
			<tr><td valign="top" class="infoname"><!--RES:OBJ_TYPE2--></td><td class="infovalue"><!--PAR:CONN_TYPE--></td></tr>
			<tr><td valign="top" class="infoname"><!--RES:PLN_RUNMODE--></td><td class="infovalue"><!--PAR:CONN_RUNMODE--></td></tr>
			<tr><td valign="top" class="infoname"><!--RES:WFL_PRIORITY--></td><td class="infovalue"><!--PAR:CONN_PRIO--></td></tr>
			<tr><td valign="top" class="infoname"><!--RES:OBJ_FILE--></td><td class="infovalue"><!--PAR:CONN_CLASSFILE--></td></tr>
			<tr><td valign="top" class="infoname"><!--RES:OBJ_MODIFIED--></td><td class="infovalue"><!--PAR:CONN_MODIFIED--></td></tr>
			<!--<tr><td valign="top" class="infoname"><!--RES:OBJ_ID--></td><td class="infovalue"><!--PAR:CONN_ID--></td></tr>-->
			<tr><td valign="top" class="infoname"><!--RES:PLN_CLASSNAME--></td><td class="infovalue"><!--PAR:CONN_CLASSNAME--></td></tr>
		</table>
	</div>
</div>
<!--<PAR:CONNECTOR_DETAILS_RECORDSET-->

</td></tr></table>

<script language="javascript">
	// pre-select first plugin and connector
	if( <!--PAR:FIRST_PLUGIN--> > 0 ) {
		var pluginTr = document.getElementById( "plugin#<!--PAR:FIRST_PLUGIN-->" );
		showPluginDetails( pluginTr ); // implicitly  selects first connector too
	}
</script>