<script language="JavaScript">
<!--
	/**
	* Signals co-workers (server) to start or stop processing Server Jobs at the queue.
	* When the Stop button is pressed, the co-workers complete what they are doing and stop picking up new jobs.
	* When the Start button is pressed, the co-workers waiting at a treshold start picking up new jobs.
	*/
	function startStopServerJobs()
	{
		var f = document.forms.svrform;
		f.action.value = ('<!--SHOWSTARTBUTTON-->' == 'true') ? 'stopMaintenance' : 'startMaintenance';
		f.submit();
	}

	/**
	 * Inserts either a "Start processing" button, or a "Stop processing" button.
	 * This depends on the current status of the proccessing instruction file.
	 * Called during initialization of the admin page.
	 */
	function toggleStartStopButton()
	{
		if( '<!--SHOWSTARTBUTTON-->' == 'true' ) { // current status, determined by server
			$('#startStopBtn').html( function() {
				return '<img src="../../config/images/plugin_install_16.gif" title="<!--RES:SVR_SERVERJOB_START-->"/>' +
					' <!--RES:SVR_SERVERJOB_START-->';
			});
		} else {
			$('#startStopBtn').html( function() {
				return '<img src="../../config/images/plugin_error_16.gif" title="<!--RES:SVR_SERVERJOB_STOP-->"/>' +
					' <!--RES:SVR_SERVERJOB_STOP-->';
			});
		}
	}
	
	$(document).ready( function() {
		toggleStartStopButton();
	});
-->
</script>

<form id="svrform" style="margin-bottom:0; margin-top:0;">
<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/server_32.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:SVR_SERVERS--></span></td>
		</tr>
	</table>

	<!-- app body -->
	<table class="listframe" width="100%"><tr><td>
		<font color="#ff0000"><i><!--PAR:ERROR--></i></font>
		<table class="listpane">
			<tr>
				<th width="100"><!--RES:OBJ_NAME--></th>
				<th width="150"><!--RES:OBJ_TYPE2--></th>
				<th width="150"><!--RES:OBJ_URL--></th>
				<th><!--RES:SVR_HANDLE_JOBS--></th>
			</tr>
			<!--SEC:SERVER_RECORD>-->
			<tr>
				<td><a href='servers.php?action=edit&id=<!--PAR:Server->Id-->'><!--PAR:Server->Name--></a></td>
				<td><!--PAR:Server->Type--></td>
				<td><!--PAR:Server->URL--></td>
				<td><!--PAR:Server->JobSupportDisplay--></td>
			</tr>
			<!--SEC:<SERVER_RECORD-->
		</table>
	</td></tr><tr><td>
		<table class="appbtnbar">
			<tr>
				<td width="5px">
					<nobr>
						<a href="servers.php?action=add">
							<img src="../../config/images/add_16.gif" title="<!--RES:SVR_NEW_SERVER-->"/>
							<!--RES:SVR_NEW_SERVER-->
						</a>
						&nbsp;
					</nobr>
				</td>
				<td width="5px">
					<nobr>
						<a href="javascript:startStopServerJobs();" id="startStopBtn">
							<!-- toggle button gets dynamically added by toggleStartStopButton() on page load -->
						</a>
						&nbsp;
					</nobr>
					<input type="hidden" name="action" value="" />
				</td>
				<td></td> <!-- trick: used fill button bar to far right -->
			</tr>
		</table>
	</td></tr></table>

</td></tr></table>
</form>