<script language="javascript">
	<!--COMBOBROWSE_SCRIPT-->

	function reset()
	{
		document.file.reset();
	}

</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/up_32.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_UPLOAD_STEP_TWO_OF_TWO--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form enctype="multipart/form-data" action="uploadmetadata.php" method="post" name="file">
		<table class="formframe"><tr><td>
		<table class="formbody">
			<tr>
				<td><!--RES:OBJ_NAME-->: </td>
				<td><!--%NAME_CHECK%--></td>
				<td><!--%NAME_INPUT%--></td>
			</tr>
			<tr>
				<td><!--RES:PUBLICATION-->:</td>
				<td><!--%PUB_CHECK%--></td>
				<td><!--%PUB_INPUT%--></td>
			</tr>
			<tr><td><!--RES:ISSUE-->:</td>
				<td><!--%ISS_CHECK%--></td>
				<td><!--%ISS_INPUT%--></td>
			</tr>
			<tr><td><!--RES:EDITION-->:</td>
				<td><!--%EDT_CHECK%--></td>
				<td><!--%EDT_INPUT%--></td>
			</tr>
			<tr>
				<td><!--RES:SECTION-->:</td>
				<td><!--%SEC_CHECK%--></td>
				<td><!--%SEC_INPUT%--></td>
			</tr>
			<tr>
				<td><!--RES:STATE-->:</td>
				<td><!--%STA_CHECK%--></td>
				<td><!--%STA_INPUT%--></td>
			</tr>
			<tr>
				<td><!--RES:ACT_ROUTE_TO-->:</td>
				<td><!--%ROUTETO_CHECK%--></td>
				<td><!--%ROUTETO_INPUT%--></td>
			</tr>
			<tr>
				<td valign="top"><!--RES:OBJ_DESCRIPTION-->:</td>
				<td><!--%DESCRIPTION_CHECK%--></td>
				<td><!--%DESCRIPTION_INPUT%--></td>
			</tr>
			<tr>
				<td valign="top"><!--RES:OBJ_COMMENT-->:</td>
				<td><!--%COMMENT_CHECK%--></td>
				<td><!--%COMMENT_INPUT%--></td>
			</tr>
			<tr>
				<td colspan="3" align="right"><!--%BUTTONS%--></td>
			</tr>
			<tr>
				<td colspan="3" align="left">*&nbsp;&nbsp;<!--RES:ACT_REQUIRED--><br/>**&nbsp;<!--RES:ACT_PROVIDE_NAME_OR_LEAVE_BLANK--></td>
			</tr>
			<tr>
				<td colspan="3"><!--%FILE_CHECK_COMMENT%--></td>
			</tr>
		</table>
		</td></tr></table>
		<!-- posted variables -->
		<!--%INPUTHIDDEN%-->
		<input type="hidden" name="submitinfo" value="SubmitMetaInfo"/>
	</form>
	<!--%ERRORMESSAGE_SCRIPT%-->
	<!--%ONLOAD_SCRIPT%-->
</td></tr></table>
