<script language="javascript">
	function check()
	{
		if(document.queries.user.value!='')
		{
			var totQueries= document.queries.queryCount.value;
			var totUser= document.queries.userCount.value;
			var totGroup= document.queries.groupCount.value;
			var flagQ=false;
			var flagU=false;
			var flagG=false;
			// to check if any query is selected.
			for(i=0;i<totQueries;i++)
			{
				strQ="document.queries.queryCheck"+i+".checked";
				if(eval(strQ))
				{
					flagQ=true;
				}

			}
			if(flagQ==false)
			{
				alert("<!--RES:ACT_SELECT_QUERY_TO_PERFORM_ACTION-->");
				return false;
			}

			// to check if either of the group or user checkbox is selected.
			for(i=0;i<totUser;i++)
			{
				strU="document.queries.userCheck"+i+".checked";
				if(eval(strU))
				{
					flagU=true;
				}

			}
			// to check if either of the group or user checkbox is selected.
			for(i=0;i<totGroup;i++)
			{
				strG="document.queries.groupCheck"+i+".checked";
				if(eval(strG))
				{
					flagG=true;
				}

			}
			if((flagU==false) && (flagG==false))
			{
				alert("<!--RES:ACT_SELECT_USER_OR_GROUP_TO_COPY_QUERY-->");
				return false;
			}
		}
		else
		{
			alert("<!--RES:ERR_SELECT_USER_FROM_LIST-->");
			return false;
		}
	}
</script>

<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/userqueries.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_COPY_QUERIES_FROM_SOURCE_TO_DESTINATION--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<form action="userqueries.php" method="post" onSubmit="return check();" name="queries">

	<!-- sub header -->
	<table class="subtitlebar">
		<tr>
			<td><span class="subtitletext"><!--RES:OBJ_SOURCE--></span></td>
		</tr>
	</table>

	<table class="listframe" width="100%"><tr><td>
	<table class="listpane">
		<tr>
			<th width="200"><!--RES:USR_USER--></th>
			<th><!--RES:QRY_QUERIES--></th>
		</tr>
		<tr>
			<td valign="top"><!--USERCOMBO--></td>
			<td><!--USERQUERIES--></td>
		</tr>
	</table>
	</td></tr></table>
	<br/>

	<!-- sub header -->
	<table class="subtitlebar">
		<tr>
			<td><span class="subtitletext"><!--RES:OBJ_DESTINATION--></span></td>
		</tr>
	</table>
	
	<table class="listframe" width="100%"><tr><td>
	<table class="listpane">
		<tr>
			<th><!--RES:USR_USERS--></th>
			<th><!--RES:GRP_GROUPS--></th>
		</tr>
		<tr>
			<td valign="top"><!--OTHERUSERS--></td>
			<td valign="top"><!--GROUP--></td>
		</tr>
	</table>
	<table class="formbtnbar" width="100%">
		<tr>
			<td colspan="2"><input type="submit" name="submitButton" value="<!--RES:ACT_SUBMIT-->"/></td>
		</tr>
	</table>
	</td></tr></table>
	<br/>

	</form>
	<!--CONTENT-->

</td></tr></table>
