<table class="appframe"><tr class="text"><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><img class="apptitleicon" src="../../config/images/users.gif"/></td>
			<td>&nbsp;<span class="apptitletext"><!--RES:ACT_OVERVIEW_USERS--></span></td>
		</tr>
	</table>
	<br/>
	
	<!-- app body -->
	<table class="formbody">
		<tr>
			<th width="100"><!--RES:USR_USER--></th>
			<th width="100"><!--RES:USR_FULL_NAME--></th>
			<th><!--RES:WFL_EMAIL--></th>
			<th><!--RES:LAN_LANGUAGE--></th>
			<th><!--RES:OBJ_COLOR--></th>
			<th><!--RES:USR_DEACTIVATED--></th>
            <!--PAR:USR_IMPORTONLOGON_HEADER-->
		</tr>
		<!--ROWS-->
	</table>
	<br/>
	
	<!-- button bar -->
	<table class="appbtnbar"> 
		<tr>
			<td width="5">
				<nobr>
				<a href="hpusers.php">
					<img src="../../config/images/add_16.gif" title="<!--RES:ACT_NEW_USER-->"/>
					<!--RES:ACT_NEW_USER-->
				</a>
				&nbsp;
				</nobr>
			</td>
			<td width="5">
				<nobr>
				<a href="duplicate_user.php">
					<img src="../../config/images/copy_16.gif" title="<!--RES:ACT_COPY_USER-->"/>
					<!--RES:ACT_COPY_USER-->
				</a>
				&nbsp;
				</nobr>
			</td>
			<td></td> <!-- used fill button bar to far right -->
		</tr>
	</table>

</td></tr></table>
