<script language="JavaScript">
		function popUpThumb(URL)
		{
			day = new Date();
			id = day.getTime();
			eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=620,height=620,left = 150,top = 0');");
		}

		function activateVersion( href, msg )
		{
			if( confirm( msg ) ) {
				location.href = href;
			}
		}

		function downloadVersion( href, msg )
		{
			if( confirm( msg ) ) {
				location.href = href;
			}
		}

		function showMessage( msg )
		{
			alert( msg );
		}

		function showThumbColumn( show )
		{
			document.getElementById("thumbcol").style.display = (show ? "" : "none");
		}
</script>
<body>

<table class="appframe"><tr><td>

	<!-- app header -->
	<table class="apptitlebar">
		<tr>
			<td><span class="apptitletext"><!--RES:OBJ_VERSIONS--></span></td>
		</tr>
	</table>
	
	<!-- app body -->
	<table class="listpane">
		<tr class="text">
			<th width="16">#</th>
			<th width="16">&nbsp;</th> <!-- download icons -->
			<th width="16">&nbsp;</th> <!-- restore icons -->
			<th><!--RES:USR_USER--></th>
			<th><!--RES:OBJ_CREATED--></th>
			<th><!--RES:OBJ_COMMENT--></th>
			<th width="12">&nbsp;</th> <!-- status color -->
			<th><!--RES:STATE--></th>
			<th id="thumbcol" style="display:none;"><!--PAR:THUMB_SLUG--></th> <!-- thumbnails -->
		</tr>
		<!--PAR:VERSION-->
	</table>
	
</td></tr></table>
	
</body>
<script language="JavaScript">
	showThumbColumn( <!--PAR:SHOWTHUMBCOL--> );
</script>
