
/* - - - - - - article elements - - - - - - */

.story { 
	border: thin solid #FFFFFF; 
	display:block;
	margin-top:10px; 
	padding:15px; 
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	background-color: #282828; /* gray */
}

.story_body {
	font-family: "Helvetica";
}
.story_head, .story_crosshead {
	font-family: "Arial";
	font-weight: bold;
	font-size: 1.5em;
	border: 3px solid #FFFFFF; 
	color: #FFFFFF; /* white */
	background-color: #F09000; /* orange */
}
.story_subhead {
	font-family: "Arial";
	font-weight: bold;
}
.story_intro, .story_byline, .story_caption {
	font-family: "Helvetica";
	font-style: italic;
}
.story_highlight {
	font-family: "Helvetica";
	font-weight: bold;
}

/* - - - - - - - footnotes - - - - - - */

.footnote_group {
	padding: 10px;
	border-top: thin solid #FFFFFF; 
	background-color: #353535; /* gray */
}
.footnote {
	text-indent: 40px;
}
.footnote:before {
	margin-left: -40px;
	content: counter( footnote_counter, decimal ) ". ";
	list-style: inside;
	float: left;
}
.footnote_ref {
	font-size: 0.5em;
}

/* - - - - - - html nodes - - - - - - */

body {
	background-color: #000000;
	color: #FFFFFF;
}

/* alinea (on which paragraph style is applied) */
p {
	margin-top: 0;
	margin-bottom: 8px;
}

/* text fragment (on which character style is applied) */
span {
	margin-top: 0;
	margin-bottom: 0;
}

/* bullet list, numbered list, list item */
ul, ol, li {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
}

/* hyperlinks */
a:link, a:visited { 
	color: #F09000; /* orange */ 
}
a:hover, a:active {
	background-color: #404040; /* gray */
	border: 1px dotted #FFFFFF; /* white */
}

/* tables */
table {
	border: 1px solid #FFFFFF; /* white */
	border-right: 2px solid #FFFFFF; /* white */
	border-bottom: 2px solid #FFFFFF; /* white */
}
td {
	padding: 3px;
	border-left: 1px solid #FFFFFF; /* white */
	border-top: 1px solid #FFFFFF; /* white */
}
tbody {
	background-color: #404040; /* gray */
}
thead, tfoot {
	background-color: #202020; /* gray */
}
